{% comment %}
<div class="account_top_section_holder hide_mb_account_top"></div>
{% endcomment %}
<div class="account_top_section_holder">
  <div class="glb-breadcrumb">
    <ul>
      <li>
        <a href="/">Home</a>
        {% include 'icon-breadcrumb' %}
      </li>
      <li><span class="bred_tex">Account</span></li>
    </ul>
  </div>

  <div class="account_section-header">
    <p>Welcome, {{ customer.first_name | capitalize }}</p>
    <div class="account_section_header_content">
      <h1>{{ 'Your Account' }}</h1>
      <a class="logout_link" aria-label="Logout" href="account/logout">Logout</a>
    </div>
    
    {%- comment -%}<h1>{{ 'customer.account.title' | t }}</h1>{%- endcomment -%}
  </div>

  <div class="account_nav">
      <ul>
        <li class="profile_menu active"><a href="/pages/profile"><span class="account_nav_icon show_mobile">{% include 'icon-account-profile' %}</span>Profile<span class="account_arrow_icon show_mobile">{% include 'icon-account-arrow' %}</span></a></li>
        <li class="wishlist_menu"><a href="/pages/swym-wishlist"><span class="account_nav_icon show_mobile">{% include 'icon-account-wishlist' %}</span>Wishlist<span class="account_arrow_icon show_mobile">{% include 'icon-account-arrow' %}</span></a></li>
        <li {% if request.page_type == 'customers/account' or request.page_type == 'customers/order' %}class="order_menu"{% endif %}><a href="/account"><span class="account_nav_icon show_mobile">{% include 'icon-account-order' %}</span>Orders<span class="account_arrow_icon show_mobile">{% include 'icon-account-arrow' %}</span></a></li>
        <li class="appointments_menu"><a href="#"><span class="account_nav_icon show_mobile">{% include 'icon-account-appointment' %}</span>Appointments<span class="account_arrow_icon show_mobile">{% include 'icon-account-arrow' %}</span></a></li>
        <li {% if request.page_type == 'customers/addresses' %}class="address_menu active"{% endif %}><a href="/account/addresses"><span class="account_nav_icon show_mobile">{% include 'icon-account-address' %}</span>Address<span class="account_arrow_icon show_mobile">{% include 'icon-account-arrow' %}</span></a></li>
        <li class="help_menu"><a href="/pages/contact-us"><span class="account_nav_icon show_mobile">{% include 'icon-account-help' %}</span>Help<span class="account_arrow_icon show_mobile">{% include 'icon-account-arrow' %}</span></a></li>
      </ul>
  </div>
</div>