<div class="chat-widget-wrapper">
    <ul>
        <li class="telephone_trigger_item"><a href="tel:+658004922522">{% include 'icon-phone' %}</a></li>
        <li class="whatsapp_trigger_item"><a class="whatsapp_trigger" ></a></li>
        <li class="liveChat_trigger_item"><a class="livechat_trigger" onclick="LC_API.open_chat_window();return false">{% include 'icon-livechat' %}</a></li>
    </ul>
    <div class="chat-trigger">Help</div>
</div>
<span class="chat-widget-overlay"></span>