<div class="compare-list-button">    
    <div class="dia-container">
        <a href="javascript:;" data-compare-msg class="btn" aria-label="Product has been successfully added.">Product has been successfully added.</a>
        <a data-compareItemCounter href="javascript:;" class="btn btn-primary hide initial-load" aria-lable="Compare products">{% render 'icon-right' %}Compare <span class="compare-item-counter">0/4</span></a> 
    </div>
</div>
<div class="compare_product_layout show-loader">
    <a href="javascript:;" class="close-compare-list" aria-label="Close list">{% render 'icon-down' %}</a>
    <div class="container">
        <div id="compare-product-list">
            
        </div>
        <div class="compare-product-cta">
            <a href="javascript:;" data-compare-clear-all aria-label="Clear all">Clear All</a>
            <a href="javascript:;" data-compare-show-modal aria-label="Compare Now">Compare Now >></a>
        </div>
    </div>
</div>
<div class="compare-product-list-modal-overlay"></div>
<div id="compare-product-modal" data-compare-product-modal>
    <div class="compare-product-modal-header">
        <h2>Compare</h2>
        <a href="javascript:;" data-compare-close-modal aria-label="Close modal">{% render 'icon-close' %}</a>
    </div>
    <div class="compare-product-modal-content" data-compare-product-modal-content>
        
    </div>
</div>