<select name="countryCode" id="countryCode" class="form__input">
    <option selected disabled></option>
    <option data-countryCode="SG" value="65">SG (+65)</option>
    <option data-countryCode="IN" value="91">IN (+91)</option>
</select>