<div class="jewellary-collection-wrapper">
    <div class="dia-container">


        <!-- Collection 3 -->
        <div class="jewellary-collection-row">
            <div class="jewellary-collection-header">
                <h2>CEREMONY & ENGAGEMENT COLLECTION</h2>
                <p>Choose one of our sparkling Diamond2<sup>®</sup>  gems and select one of our gemstone cuts to create an extraordinary piece of fine jewelry for your special occasions.</p>
            </div>
            <div class="jewellary-collection-grid">

                <div class="jewellary-collection-block">
                    <div class="jewellary-collection-card">
                        <div class="image_holder">
                            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0575/2681/2840/files/CEER_019B_04_WG_1.png?v=1624558076" >
                        </div>
                    </div>
                    <div class="jewellary-collection-card">
                        <div class="image_holder">
                            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0575/2681/2840/files/CEPD_002_01_WG_1.png?v=1624558164" >
                        </div>
                        <div class="content_holder">
                            <div class="title">PENDANTS</div>
                            <a class="more_btn" href="#">DISCOVER MORE</a>
                        </div>
                    </div>
                </div>

                <div class="jewellary-collection-block">
                    <div class="jewellary-collection-card">
                        <div class="image_holder">
                            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0575/2681/2840/files/CEFR_023A_01_WG_1.png?v=1624558213" >
                        </div>
                        <div class="content_holder">
                            <div class="title">RINGS</div>
                            <a class="more_btn" href="#">DISCOVER MORE</a>
                        </div>
                    </div>
                    <div class="jewellary-collection-card">
                        <div class="image_holder">
                            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0575/2681/2840/files/CEBR_022_01_WG_1.png?v=1624558244" >
                        </div>
                        <div class="content_holder">
                            <div class="title">BRACELETS</div>
                            <a class="more_btn" href="#">DISCOVER MORE</a>
                        </div>
                    </div>
                </div>

                <div class="jewellary-collection-block big_col">
                    <div class="jewellary-collection-card content_align_right">
                        <div class="image_holder">
                            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0575/2681/2840/files/CEER_018A_01_WG_1.png?v=1624558307" >
                        </div>
                        <div class="content_holder">
                            <div class="title">EARRINGS</div>
                            <a class="more_btn" href="#">DISCOVER MORE</a>
                        </div>
                    </div>
                    <div class="jewellary-collection-card has_only_image">
                        <div class="image_holder">
                            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0575/2681/2840/files/CEFR_023A_4_WG_1.png?v=1624558356" >
                        </div>
                    </div>
                </div>

            </div>

            <div class="jewellary-collection-btn-holder text-center">
                <a href="#" class="glb-btn">EXPLORE CEREMONY & ENGAGEMENT COLLECTION</a>
            </div>

        </div>

    </div>
</div>