<div class="jewellary-collection-wrapper">
    <div class="dia-container">
        <div class="jewellary-collection-row">
            <div class="jewellary-collection-header">
                <h2>RIVIERA COLLECTION</h2>
                <p>The enchanting designs call to mind picturesque flowers adorning gardens and stone walls at the Italian seaside. Delicate petals and imaginative settings seduce the eye and warm the heart.</p>
            </div>
            <div class="jewellary-collection-grid">
                <div class="jewellary-collection-block">
                    <div class="jewellary-collection-card">
                        <div class="image_holder">
                            <img src="https://cdn.shopify.com/s/files/1/0575/2681/2840/files/FLFR_008_01_YG_1.png?v=1624462031" >
                        </div>
                        <div class="content_holder">
                            <div class="title">RINGS</div>
                            <a class="more_btn" href="#">DISCOVER MORE ></a>
                        </div>
                    </div>
                    <div class="jewellary-collection-card">
                        <div class="image_holder">
                            <img src="https://cdn.shopify.com/s/files/1/0575/2681/2840/files/FLPD_003_01_YG_1.png?v=1624462031" >
                        </div>
                        <div class="content_holder">
                            <div class="title">PENDANTS</div>
                            <a class="more_btn" href="#">DISCOVER MORE ></a>
                        </div>
                    </div>
                </div>

                <div class="jewellary-collection-block big_col">
                    <div class="jewellary-collection-card">
                        <div class="image_holder">
                            <img src="https://cdn.shopify.com/s/files/1/0575/2681/2840/files/CENTER_IMAGE.png?v=1624462031" >
                        </div>
                    </div>
                    <div class="jewellary-collection-card content_align_right">
                        <div class="image_holder">
                            <img src="https://cdn.shopify.com/s/files/1/0575/2681/2840/files/FLFJBA_009_01_YG_1.png?v=1624462031" >
                        </div>
                        <div class="content_holder">
                            <div class="title">BANGLES</div>
                            <a class="more_btn" href="#">DISCOVER MORE</a>
                        </div>
                    </div>
                </div>

                <div class="jewellary-collection-block">
                    <div class="jewellary-collection-card">
                        <div class="image_holder">
                            <img src="https://cdn.shopify.com/s/files/1/0575/2681/2840/files/FLER_004_01_YG_1.png?v=1624462031" >
                        </div>
                        <div class="content_holder">
                            <div class="title">EARRINGS</div>
                            <a class="more_btn" href="#">DISCOVER MORE ></a>
                        </div>
                    </div>
                    <div class="jewellary-collection-card">
                        <div class="image_holder">
                            <img src="https://cdn.shopify.com/s/files/1/0575/2681/2840/files/FLBR_008_01__YG_1.png?v=1624462031" >
                        </div>
                        <div class="content_holder">
                            <div class="title">BRACELETS</div>
                            <a class="more_btn" href="#">DISCOVER MORE ></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>