<div class="sign-up-with-social">
    <ul>
      <li class="google-app">
        <a href="#">
          <span class="_icon">{% include 'icon-goolge-app' %}</span>
          <span class="_icon_text">Google</span>
        </a>
      </li>
      <li class="facebook-app">
        <a href="#">
          <span class="_icon">{% include 'icon-facebook-app' %}</span>
          <span class="_icon_text">Facebook</span>
        </a>
      </li>
    </ul>
  </div>