<!-- <div class="info-modal-overlay"></div> -->
<div class="info-modal">
        <button type="button" aria-label="Close Modal" class="close-info-modal" onclick="hideInfoModal()">
            {% render 'icon-close' %}
        </button>
        <h2>WishList</h2>
        <p>Please Login and you will add product to your wishlist.</p>
        <div class="info-modal-action">
            <a href="/account/login" aria-label="Sign In">Sign In</a>
            <a href="/account/register" aria-label="Register">Register</a>
        </div>
</div>