{% comment %}
    Renders a product card using "List" style

    Accepts:
    - product: {Object} Product Liquid object (required)
    - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

    Usage:
    {% include 'product-card-list', product: product, show_vendor: section.settings.show_vendor %}
{% endcomment %}

<td class="wishlist_td">
    <a href="#">{% include 'icon-wishlist-fill' %}</a>
</td>
<td class="shape_td">
    <a href="{{ product.url }}">{{ 'list_360.png' | asset_url | img_tag :'360 View' }}<span class="text">ROUND H&A</span></a>
</td>
<td class="price_td">
    {{ product.price | money }}
</td>
<td class="care-tdt">1.09</td>
<td class="color_td">G</td>
<td class="cut_td">EXCELLENT</td>
<td class="clarity_td">SI</td>
<td class="actions_td"><a href="javascript:void(0)">ADD TO COMPARE</td>  