<div class="product-review-section pdp-tabber" id="productReview">
    <div class="mobile-pdp-acc-trigger show_mobile"><p>Review</p></div>
    <div class="pdp-acc-body">
        <h5>Based on 5 Reviews</h5>
    </div>
</div>