<div class="cart-remove-popup-wrapper">
    <div class="cart-remove-popup-holder">
      <div class="cart-remove-popup">
        <div class="cart-remove-header">Are you sure you want to remove this item from the cart?</div> 
        <div class="close_cart_pop"></div>
        <div class="cart-remove-item">
          <div class="cart_image_column">
            <div class="cart_image-holder"></div>
          </div>
          <div class="cart_image_content">
            <div class="cart_item-title"></div>
            <div class="cart_item-varrients"></div>
            <div class="cart_item-quantity"></div>
            <div class="cart_item-price"></div>
          </div>
        </div>
        <div class="cart-remove-item-footer">
          <div class="cart-remove-item-bt-wrap">
            <div class="cart-btn-item">
              <a data-template="cart" class="glb-btn remove_cart_item" href="javascript:void(0);">REMOVE FROM CART</a>
            </div>
            <div class="cart-btn-item">
              <a class="glb-btn" href="javascript:void(0)">ADD TO WISHLIST</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

