

{% if ring_size_text !=blank %}
    
{% assign ringSizetb = ring_size_text | downcase | replace: ' ', '_' | append: '.pdf' %}
{%- assign pdfURL = ringSizetb | file_url -%}
<div class="custom-modal-wrapper" data-modal="custom-modal" id="{{ ring_size_text | downcase | replace: ' ', '_' }}">
    <div class="custom-modal-container">
        <div class="custom-modal-box">
            <div class="custom-modal-box-inner">
                <div class="custom-modal-header"><a class="close-custom-modal modal_close">{% include 'icon-close' %}</a></div>
                <div class="custom-modal-content">
                    <embed src="{{ pdfURL }}" frameborder="0" width="100%" height="100%">
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}