<div class="sidebar-column">
    <div class="sidebar-nav">
        {% if linklists.sidebar-nav.links.size > 0 %}
        <ul>
        {% for link in linklists.sidebar-nav.links %}
        {% if link.title %}<li><a {% if page.url == link.url %}class="active"{% endif %} href="{{ link.url }}" ><span class="menu_text">{{ link.title }}</span></a></li>{% endif %}
        {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>