<div class="responsibility-content">
    <div class="responsibility-inner-box">
        <p class="small-heading">{{ section.settings.heading }}</p>
        <p class="small-content">{{ section.settings.sub-heading }}</p>

            <div class="inner-content">
               {% for block in section.blocks %} 
                <div class="inner-test">
                    <p class="inner-heading">{{ block.settings.inner-heading }}</p>
                    <div class="inner-texts">{{ block.settings.inner-content }}</div>
                </div>
                {% endfor %}
            </div>
    </div>
</div>

{% schema %}
  {
    "name": "Responsibilities Text",
    "max_blocks": 6,
    "settings": [
      {
        "id": "heading",
        "type": "text",
        "label": "Section Heading"
      },
      {
        "id": "sub-heading",
        "type": "text",
        "label": "Section Subheading"
      }
    ],
    "blocks": [
      {
        "type": "addBlock",
        "name": "Blocks",
        "limit": 6,
        "settings": [
          {
            "id": "inner-heading",
            "type": "text",
            "label": "Inner Heading"
          },
          {
            "id": "inner-content",
            "type": "html",
            "label": "Inner Content"
          }
        ]
      }
    ]
  }
{% endschema %}

<style>
.responsibility-content{padding-right:100px;padding-left:100px;padding-top:100px;}
.small-heading{display:block;text-align:center;margin:0 auto;max-width:550px;padding-bottom:50px;margin-bottom:0px;font-family: Spectral;font-style: normal;font-weight: 275;font-size: 45px;line-height: 108%;text-align: center;text-transform: uppercase;color: #6C1D45;}
.small-content{display:block;text-align:center;margin:0 auto;max-width:826px;padding-bottom:50px;margin-bottom:0px;font-family: Montserrat;font-style: normal;font-weight: 300;font-size: 26px;line-height: 108%;text-align: center;color: #000000;}
.inner-content{display:flex;flex-direction: row;flex-wrap: wrap;}
.inner-test {flex: 1;flex-basis: 30%;}
p.inner-heading{padding-bottom:50px;margin-bottom:0px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 28px;line-height: 34px;letter-spacing: 0.02em;color: #000000;}
div.inner-content{font-family: Montserrat;font-style: normal;font-weight: 300;font-size: 26px;line-height: 108%;color: #000000;}


</style>