{%- if section.settings.heading != blank -%}
<div class="beyond-the-diamond-section">
	<div class="container">
		<div class="inner-container">
			<div class="beyond-the-diamond-content-holder">
				{%- if section.settings.heading != blank -%}<h2>{{ section.settings.heading }}</h2>{%- endif -%}
				{%- if section.settings.content != blank -%}<div class="beyond-the-diamond-des">{{ section.settings.content }}</div>{%- endif -%}
			</div>
		</div>
	</div>
</div> 
{%- endif -%}


{% schema %}
  {
    "name": "Beyond The Diamond",
    "settings": [
    	{
    		"type": "text",
    		"label": "Heading",
    		"id": "heading",
    		"default": "THE WORLD BEYOND THE DIAMOND"
    	},
    	{
    		"type": "richtext",
    		"label": "Content",
    		"id": "content",
    		"default": "<p>Our revolutionary lab-grown Diamond2  gem is an innovative breakthrough that seeks to disrupt the tradition-bound world of fine jewelry dominated by the diamond. <br><br>Our unique, never before seen gemstone is designed to seduce today’s sophisticated, forward-looking clientele, thanks to its rarefied beauty and remarkable brilliance that has no equal. Discover the beauty of Diamond2  . Discover a world beyond the diamond. </p>"
    	}
    ]
  }
{% endschema %}