<div class="min-slide-card" id="minicart">
    <div class="minicart__wrapper">
        <div class="minicart__header">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon_holder"><svg width="25" height="23" viewBox="0 0 25 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.3024 22.6981L12.4 22.7818L12.4976 22.6981L12.9163 22.3392C12.9165 22.339 12.9167 22.3388 12.917 22.3386C17.4294 18.5608 20.3109 15.9957 22.0628 13.8316C23.8225 11.6578 24.45 9.87928 24.45 7.68019C24.45 4.00136 21.5868 1.0502 18 1.0502C15.1578 1.0502 13.5225 2.64107 12.4 3.92358C11.2775 2.64107 9.64222 1.0502 6.8 1.0502C3.2132 1.0502 0.35 4.00136 0.35 7.68019C0.35 9.87928 0.977467 11.6578 2.73716 13.8316C4.48907 15.9957 7.3706 18.5608 11.883 22.3386C11.8833 22.3388 11.8835 22.339 11.8837 22.3392L12.3024 22.6981ZM12.2842 6.40749L12.4 6.5483L12.5158 6.40749L13.2849 5.47266C14.3355 4.24798 15.6253 2.7902 18 2.7902C20.6432 2.7902 22.75 4.95103 22.75 7.68019C22.75 9.4746 22.2068 10.9719 20.6317 12.8859C19.0619 14.7933 16.4763 17.1033 12.4 20.5166C8.32368 17.1033 5.73813 14.7933 4.16832 12.8859C2.59316 10.9719 2.05 9.4746 2.05 7.68019C2.05 4.95103 4.1568 2.7902 6.8 2.7902C9.17474 2.7902 10.4645 4.24798 11.5151 5.47266L12.2842 6.40749Z" fill="white" stroke="white" stroke-width="0.3"/></svg></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon_holder"><svg width="21" height="23" viewBox="0 0 21 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5 0.15625C6.52556 0.15625 3.28125 3.40056 3.28125 7.375C3.28125 9.86031 4.54969 12.0693 6.47194 13.3697C2.79347 14.9475 0.1875 18.595 0.1875 22.8438H2.25C2.25 18.2753 5.93156 14.5938 10.5 14.5938C15.0684 14.5938 18.75 18.2753 18.75 22.8438H20.8125C20.8125 18.595 18.2065 14.9464 14.5281 13.3686C15.5094 12.7066 16.3134 11.814 16.8697 10.7691C17.4259 9.72416 17.7175 8.55877 17.7188 7.375C17.7188 3.40056 14.4744 0.15625 10.5 0.15625ZM10.5 2.21875C13.3597 2.21875 15.6562 4.51534 15.6562 7.375C15.6562 10.2347 13.3597 12.5312 10.5 12.5312C7.64034 12.5312 5.34375 10.2347 5.34375 7.375C5.34375 4.51534 7.64034 2.21875 10.5 2.21875Z" fill="white"/></svg></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon_holder"><svg width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.25347 6.7832V5.8457C7.25347 3.27133 9.3446 1.1582 11.8922 1.1582C14.4398 1.1582 16.5309 3.27133 16.5309 5.8457V6.7832H21.1112L21.1696 7.66164L22.0974 24.5366L1.68701 24.5376L2.61475 7.66258L2.67227 6.7832H7.25347ZM7.25347 6.7832H16.7369" stroke="white" stroke-width="2"/></svg></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="minicart__content" id="cart__minicart">
            <div id="cart__minicart_items">
            </div>
            <div style="margin-top: 50px">
                <h4>Total: <span id="cart__total_price"></span></h4>
                <a id="cart__checkout_btn" href="/checkout" class="btn btn--has-icon-after cart__continue-btn" style="width:100%;">Proceed Checkout</a>
            </div>
        </div>
    </div>
</div>
  
  <script>

       $(document).ready(function(){
        $('.minicart-btn').click(function(e){
            e.preventDefault();
            e.stopPropagation();
            $('body').addClass('min-slide-card-open');
        });
        $('.min-slide-card').click(function(e) {
            e.stopPropagation();
        })
        $('body').click(function(){
            $('body').removeClass('min-slide-card-open');
        });
       });

        // fetch('/cart.js')
        // .then((resp) => resp.json())
        // .then((data) => {
        // if(data.items.length > 0) {
        //     data.items.forEach(function(product, index) { 
        //         document.getElementById('minicart_cart_items').innerHTML = '<img src="' + product.featured_image.url + '" alt="' + product.featured_image.alt + '"><h5>' + product.title + '</h5><p>' + product.quantity + ' x ' + theme.Currency.formatMoney(product.line_price, theme.moneyFormat) + '</p>';
        //         });
        // } else {
        //     document.getElementById('minicart_cart_items').innerHTML = '<p>Cart is empty</p>';
        //     document.getElementById('minicart_checkout_btn').setAttribute('disabled', 'disabled');
        //     document.getElementById('minicart_checkout_btn').style.pointerEvents = 'none';
        // }
        
        // document.getElementById('minicart_total_amount').innerHTML = theme.Currency.formatMoney(data.total_price, theme.moneyFormat);
        
        // });
  </script>