<div class="tah-appoinment-layout-wrapper">
    <div class="tah-appointment-head">
        <div class="tah-appointment-head-left"></div>
        <div class="tah-appointment-head-right"></div>
    </div>
    <div class="tah-appointment-details">
        <div class="tah-appointment-details-list">
            <span class="tah-appointment-details-list-label"></span>
            <span class="tah-appointment-details-list-value"></span>
        </div>
    </div>
    <div class="tah-appointment-item">
        <div class="tah-appointment-item-image">
            <a href="#" aria-label=""><img src="" alt="" /></a>
        </div>
        <div class="tah-appointment-item-info">
            <h3 class="tah-appointment-item-title"></h3>
            <div class="tah-appointment-item-variant-title"></div>
            <div class="tah-appointment-item-variant-title"></div>
            <div class="tah-appointment-item-variant-option-size"></div>
        </div>
        <div class="tah-appointment-item-price">Rs. 29,9999 <span>Price is Inclusive of Taxes</span></div>
    </div>
</div>