<div class="double-banner-container">
 <div class="left">
  <p>{{ section.settings.left-banner-text }}</p>
 </div>
 <div class="right">
   <p>{{ section.settings.right-banner-text }}</p>
 </div>
</div>


{% schema %}
  {
    "name": "Double banner Content",
    "settings": [
      {
        "id": "banner-left",
        "type": "image_picker",
        "label": "Left Banner Image"
      },
      {
        "id": "banner_right",
        "type": "image_picker",
        "label": "Right Banner Image"
      },
      {
        "id": "left-banner-text",
        "type": "text",
        "label": "Left Text"
      },
      {
        "id": "right-banner-text",
        "type": "text",
        "label": "Right Text"
      }
    ]
  }
{% endschema %}

<style>
    .double-banner-container{display:flex;justify-content: center;margin-top: 900px;margin-bottom: 100px;padding-left: 100px;padding-right: 100px;}
    .left{
        background:url({{ section.settings.banner-left | img_url: 'master' }});
        background-repeat:no-repeat;
        width: 50%;height: 350px;margin-right: 15px;background-size: cover;
        background-position: center;
    }
    .left:hover {
    box-shadow: 0 5px 14px 3px rgb(0 0 0 / 35%);
    -webkit-box-shadow: 0 5px 14px 3px rgb(0 0 0 / 35%);
    transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
 }
 .right:hover {
    box-shadow: 0 5px 14px 3px rgb(0 0 0 / 35%);
    -webkit-box-shadow: 0 5px 14px 3px rgb(0 0 0 / 35%);
    transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
 }
    .right{
        background:url({{ section.settings.banner_right | img_url: 'master' }});
        background-repeat:no-repeat;
        width: 50%;height: 350px;margin-left: 15px;background-size: cover;
        background-position: center;
    }
   .left p{padding:133px 50px 132px 0px;max-width: 441px;font-family: Spectral;font-style: normal;font-weight: 200;font-size: 45px;line-height: 108%;color: #000;text-align: left;text-transform: uppercase;float: right;}
   .right p{padding:133px 0px 132px 50px;max-width: 441px;font-family: Spectral;font-style: normal;font-weight: 200;font-size: 45px;line-height: 108%;text-align: left;text-transform: uppercase;float: left;}

@media screen and (max-width: 767px){
.double-banner-container {display: flex;margin-top: 10px;margin-bottom: 50px;padding-left: 10px;padding-right: 10px;flex-direction: column;}
.left {width: 100%;height: 150px;margin-right: 0px;}
.left p {padding: 14% 0%;max-width: 221px;font-size: 21px;text-align: left;float: right;}
.right {width: 100%;height: 150px;margin-left: 0px;background-size: contain;margin-top: 10px;}
.right p {padding: 14% 0% 14% 5%;max-width: 221px;font-size: 21px;float: left;}
}

@media screen and (min-width: 768px) and (max-width: 1024px){
.double-banner-container {margin-bottom:50px;display:block;margin-top: 500px;margin-bottom: 100px;padding-left: 20px;padding-right: 20px;}
.left {width:100%;height: 250px;margin-right: 0px;display: flex;justify-content: flex-end;align-items: center;}
.left p {padding: 0px 0px;max-width: 441px;font-size: 35px;float: right;}
.right {width:100%;height: 250px;margin-left: 0px;display: flex;align-items: center;justify-content: flex-start;margin-top: 20px;}
.right p {padding: 0px 0px 0px 20px;max-width: 441px;font-size: 35px;float: left;} 
}

@media screen and (min-width: 1025px) and (max-width: 1440px){
.double-banner-container{padding-left:20px;padding-right:20px;margin-bottom:50px;}
.left{margin-right: 10px;display: flex;align-items: center;justify-content: flex-end;height:300px;} 
.left p, .right p{padding: 0px 0px;max-width: 350px;font-size: 30px;color: #6C1D45;}
.right{margin-left: 10px;display: flex;align-items: center;justify-content: flex-start;padding-left: 20px;height:300px;}
}
</style>
