.filters-toolbar{}
.filters-toolbar > div {
    width: 100%;
}
.collection-sort-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.filters-toolbar__item-wrapper {
    align-items: center;
}
[data-collection-filter-section] {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;    
}
.collection-filter-wrapper {
    max-width: 145px;
    min-width: 145px;
    text-align: center;
}
.filters-toolbar__input {
    padding-left: 5px;
}