.filters-toolbar-label {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: calc(((12) / (var(--font-size-base))) * 1em);
}
.filters-toolbar-label .clear-filters a {
    text-decoration: underline;
    color: #6c1d45;
    text-transform: capitalize;
}
.filters-toolbar > div {
    width: 100%;
}
.collection-sort-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.filters-toolbar__item-wrapper {
    align-items: center;
}
[data-collection-filter-section] {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;    
}
.collection-filter-wrapper {
    max-width: 145px;
    min-width: 145px;
    text-align: text;
}
.filters-toolbar__input {
    padding-left: 5px;
    text-transform: uppercase;
    font-size: calc(((12) / (var(--font-size-base))) * 1em);
}