
@media screen and (max-width:350px) {
    .opt_error ,.error_n{
        width: 200px !important;
        text-align: center;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    }
@media screen and (max-width:390px) {
    #table-body .row .col {
        padding: 0px !important;
    }
    }
@media screen and (max-width:400px) {
    .layout_tah_cart .coupon-info-content- {
        width: 70% !important;
    }
    .layout_tah_cart #table-body {
        font-size: 11px !important;
    }
    #table-body .row .col {
        padding: 0px !important;
    }

    }
    @media screen and (max-width:450px) {
        #table-body .row .col {
            padding: 15px 0 15px 0!important;
        }
        .th_cart_inner .title {
            margin-top: 40px !important;
        }
        .layout_tah_cart #table-header .row .col {
          padding: 0px;
      }
      .layout_tah_cart .calendar-footer {
          height: 140px;
        }
        .layout_tah_cart .calendar-footer #cancel_footer {
          margin-bottom: 25px;
      }
      .layout_tah_cart #table-body {
          font-size:14px !important;
      }
      .layout_tah_cart #table-header {
          font-size: 13px !important;
      }
      .layout_tah_cart #table-body .row {
          padding: 0px !important;
          margin: 0px !important;
      }
      .layout_tah_cart .header-background {
          background-color: #fff;
          height: 65px;
      }
      .layout_tah_cart .model_calender .model-content{
      width:100% !important;
      }
      .layout_tah_cart .content-wrapper {
        padding-left: 0;
        padding-right: 0;
      }
      .layout_tah_cart .content-wrapper .container {
        padding-left: 0;
        padding-right: 0;
      }
}   
@media screen and (max-width: 600px){
    .layout_tah_cart .coupon-info-content- {
        width:75% !important;
    }
    .layout_tah_cart .model_calender .model-content {
        position: relative;
        width: 70% !important;
        margin: auto;
        background-color: #fff;
        animation-name: animatetop;
        animation-duration: .4s;
    }
   /* appointment conformation code start */
   .layout_tah_cart .whdyif-btns {
     width: 100% !important;
     display: block !important;
     margin: 0px !important;
 }
 
 .layout_tah_cart .whdyif-left {
     padding-bottom: 25px;
     width: 100% !important;
     margin-right: 0px !important;
 }
 .layout_tah_cart .whdyif-right {
     width: 100% !important;
     margin-left: 0px !important;
 }
 /* appointment conformation code end */
 .layout_tah_cart .calendar-footer #cancel_footer {
    width: 150px;
    margin: 5px;
  }
  .layout_tah_cart #apply_footer{
    width: 150px;
    margin: 5px;
  }

 }
 @media screen and (max-width: 767px){
     
    .layout_tah_cart .cart-template-wrapper .cart-page-two-col-row .cart-page-left-column {
        width: 100% !important;
        margin-right: 0;
        margin-bottom: 30px;
    }
    
    .layout_tah_cart .cart-template-wrapper .cart-page-two-col-row .cart-page-right-column {
        width: 100% !important;
        padding: 0;
        border: none;
    }

   .layout_tah_cart  .cart__buttons-container > div {
     width: 100% !important;
   }
 .layout_tah_cart  .cart__buttons-container {
     display: block;
     flex-direction: unset;
     flex-wrap: unset;
     margin: 0 -7.5px;
     width: auto;
     max-width: initial;
 }
 .layout_tah_cart  .cart_bottom_section .cart__buttons-container > div {
     margin-bottom: 15px !important;
 }
 .layout_tah_cart .total_cart_item {padding-bottom: 25px;}
 .layout_tah_cart .cart__buttons-container .glb-btn { font-size: 12px;line-height: 12.96px;padding: 16px 5px; min-height: 0;}
 .layout_tah_cart .c_heading { padding-bottom: 25px;}
 .layout_tah_cart .coupon-info-content- {width:88%;vertical-align: middle;padding-top: 5px;}
 .layout_tah_cart .describing-container {padding-left: 10px;padding-right: 10px;}
 .layout_tah_cart p.section-heading {padding-bottom: 15px;font-size: 28px;color: #6c1d45;text-align: center;margin-bottom: 0;}
 .layout_tah_cart p.sub-heading {padding-bottom: 25px;font-size: 15px;color: #000;margin-bottom: 0;}
 .layout_tah_cart .describe-boxes {display: block;}
 .layout_tah_cart .inner-explained-section {width: 100%;padding: 0 25px 25px 25px;display: block;margin: 0 auto;}
 .layout_tah_cart img.small-img-1 {max-width: 70px;width: 100%;display: block;margin: 0 auto;height: 100%;padding-bottom: 15px;}
 .layout_tah_cart p.small-text-1 {margin-bottom: 0;font-size: 15px!important;line-height: 120%!important;padding: 20px 0 10px;min-height: 0px;}
 .layout_tah_cart p.small-text-2 {text-align: center;margin-bottom: 0;font-size: 15px!important;line-height: 108%!important;}
 /* checkout code */
 .layout_tah_cart .checkout-template-wrapper .checkout-page-two-col-row .checkout-page-left-column {
     margin-right: 0px !important;
     width: 100% !important;
 }
 .layout_tah_cart .checkout-template-wrapper .checkout-page-two-col-row .checkout-page-right-column {
     padding-left: 0px !important;
     width: 100% !important;
     border-left: 0px !important;
 }
 /* checkout code*/
 /* appointment conformation code start */
 .layout_tah_cart h2.ac-wrapper-title-h {
     text-align: center;
 }
 .layout_tah_cart .ac-wapper-inner-image {
     text-align: center;
     width: 100px;
     margin: 0 auto;
 }
 .layout_tah_cart .ac-wapper-inner-title {
     padding-bottom: 20px;
 }
 .layout_tah_cart .ac-wapper-inner-adat-add-t {
     padding-bottom: 20px;
 }
 .layout_tah_cart #adat-add-p-v {
     line-height: 1.4;
 }
 
 
 /* appointment conformation code end */
 .layout_tah_cart .model_calender .model-content {
    width: 95% !important;
  }
  .layout_tah_cart #table-header {
    font-size: 13px;
    font-weight: 600;
}
.layout_tah_cart .header-background {
    background-color: #fff;
    height: 65px;
}
.layout_tah_cart .prev-button i {
    font-size: 2em;
}
.layout_tah_cart .next-button i {
    font-size: 2em;
}
.layout_tah_cart .header-title {
    width: 215px;
    display: inline-block;
    float: left;
}
.layout_tah_cart .header-text #month-name {
font-size:16px;
}
.layout_tah_cart .content-wrapper.grey.lighten-3 {
    width: 100% !important;
    margin: 0 auto;
    background-color: #fff !important;
}
.layout_tah_cart .calendar-wrapper.z-depth-2 {
width:95%;
margin: 0 auto;
margin-top: 30px;
margin-bottom: 30px;
}

.layout_tah_cart .content-wrapper .container {
  width: auto;
}
.layout_tah_cart .calendar-content {
  padding-left: 5%;
  padding-right: 5%;
}
.layout_tah_cart body .row {
  margin-bottom: 0;
}

 }
 @media screen and (max-width:992px) {
    #table-header, #table-body {
        font-size: 20px;
    }
    .layout_tah_cart .coupon-info-content- {
        width: 87%;
        vertical-align: middle;
    }
    .layout_tah_cart .cart-template-wrapper .cart-page-two-col-row .cart-page-left-column {
        width: 100% !important;
        margin-right: 0;
        margin-bottom: 30px;
    }
    
    .layout_tah_cart .cart-template-wrapper .cart-page-two-col-row .cart-page-right-column {
        width: 100% !important;
        padding: 0;
        border: none;
    }
    .layout_tah_cart .mobile-header {
      display: block;
    }
    .layout_tah_cart .calendar-wrapper {
      margin-top: 80px;
    }
    .layout_tah_cart .sidebar-wrapper {
      background-color: #EEEEEE !important;
    }
    .layout_tah_cart .sidebar-title {
      background-color: #5A649C !important;
    }
    .layout_tah_cart .empty-message {
      color: black;
    }
}
/* @media screen and (max-width:1200px) {
    .layout_tah_cart .model_calender .model-content {
    position: relative;
    width: 95%;
    margin: auto;
    background-color: #fff;
    animation-name: animatetop;
    animation-duration: .4s;
}
} */
@media screen and (min-width: 768px) and (max-width:900px){
    .layout_tah_cart .model_calender .model-content {
        position: relative;
        width:70%;
        margin: auto;
        background-color: #fff;
        animation-name: animatetop;
        animation-duration: .4s;
    }

}

 @media screen and (min-width: 768px) and (max-width: 1024px){
    .layout_tah_cart .describing-container {padding-left: 20px;padding-right: 20px;}
    .layout_tah_cart p.section-heading {padding-bottom: 15px;font-size: 30px;margin-bottom: 0px;}
    .layout_tah_cart p.sub-heading {padding-bottom: 50px;font-size: 21px;margin-bottom: 0px;}
    .layout_tah_cart .describe-boxes {display: flex;justify-content: space-evenly;}
    .layout_tah_cart .inner-explained-section {max-width: 382px;width: 50%;padding: 0px 15px;display: block;margin: 0 auto;}
    .layout_tah_cart img.small-img-1 {max-width: 50px;height: 50px;/*width: 100%;*/display: block;margin: 0 auto;}
    .layout_tah_cart  p.small-text-1 {font-weight: 200 !important;font-size: 18px !important;line-height: 120% !important;color: #6C1D45;padding: 20px 0px 10px;max-width: 250px;min-height: auto;}
    .layout_tah_cart p.small-text-2 {font-size:20px !important;line-height: 108% !important;color: #000000;}
 
    .layout_tah_cart .model_calender .model-content {
        position: relative;
        width: 65%;
        margin: auto;
        background-color: #fff;
        animation-name: animatetop;
        animation-duration: .4s;
    }
    #table-header, #table-body {
        font-size:20px;
    }
    

}
 
 @media screen and (min-width: 1025px) and (max-width: 1440px){
    .layout_tah_cart .describing-container {padding-left: 20px;padding-right: 20px;}
    .layout_tah_cart p.section-heading {padding-bottom: 10px;font-size: 30px;line-height: 108%;}
    .layout_tah_cart p.sub-heading {padding-bottom: 50px;font-size: 21px;}
    .layout_tah_cart .inner-explained-section {width: 25%;padding: 0px 15px;}
    .layout_tah_cart p.small-text-1 {font-weight: 200 !important;font-size: 21px !important;line-height: 120% !important;padding: 20px 0px 10px;min-height: auto;}
    .layout_tah_cart p.small-text-2 {font-size:16px !important;line-height: 108% !important;}
 
   /* calender */

   #table-body .row .col {
    padding: 18px;
    /* border-radius: 50%; */
}
#table-header, #table-body {
    font-size: 20px;
}
.calendar-content {
    background-color: #fff;
    padding:unset !important;
    overflow:hidden;
}
.header-background {
    background-color: #fff;
    height: 90px;
}
.model_calender .model-content {
    width: 35%;
    margin: auto;

}

   /* calender css */

 }
 @media only screen and (min-width: 1500px) {
    .coupon-info-content- {
        width: 83% !important;
        vertical-align: middle;
    }
    .model_calender .model-content {
        width:35% !important;
        margin: auto;
    }
    .small-text-1 {
        padding: 20px 0 18px !important;
        min-height: 110px !important;
    }
 }
 @media screen and(max-width: 1840px){
 .th_cart_inner .customBtn {
    border-radius: 0;
    padding: 10px;
    width: 90%;
}
 }

 /* checkout page code */
 .error_n {
    padding-top: 15px;
    color: #6C1D45;
}
 .layout_tah_cart .cart-template-wrapper .cart-page-two-col-row .cart-page-right-column .cart__footer .grid .grid__item.delivery-notes > span {
    width:unset;
}
.layout_tah_cart .ac-item .ac-body .ac-body-inner {
    padding: 0px 0 13px;
}
.layout_tah_cart .ac-heading.active {
    padding-bottom: 5px;
}

.layout_tah_cart .cart-template-wrapper .cart-page-two-col-row .cart-page-right-column .cart__footer .grid .grid__item {
    margin-bottom:20px;
}
 .layout_tah_cart .delivery-notes-heading,.layout_tah_cart .cart-subtotal__title_,.layout_tah_cart .delivery-notes-heading {
    font-size: 13px;
}
 .coupon-info-content- p {
    font-size: 16px;
}
 .checkout-template-wrapper .checkout-page-two-col-row {
     display: flex;
     flex-wrap: wrap;
 }
 .checkout-template-wrapper .checkout-page-two-col-row .checkout-page-left-column {
     margin-right: 50px;
     width: calc(50.82% - 50px);
 }
 .checkout-template-wrapper .checkout-page-two-col-row .checkout-page-right-column {
     padding-left: 50px;
     width: 49.18%;
     border-left: 1px solid #6C1D45;
 }
 .checkout-template-wrapper {
     width: 100%;
 }
 .checkout-template-wrapper .ac-item .ac-heading a {
     font-size: 15px;
     line-height: 1.5;
     width: 100%;
 }
 .checkout-template-wrapper .time-slot-label-h,.checkout-template-wrapper .booking-info-label-h-title {
     font-size: 18px;
 }
 .checkout-form input {
     width: 100%;
 }
 .time-slot-wrapper {
     padding-bottom: 35px;
 }
 .checkout-template-wrapper .booking-info-label-h {
     font-size: 13px;
     padding-bottom: 10px;
 }
 .checkout-template-wrapper .booking-info-wrapper {
     padding-bottom: 15px;
 }
 .checkout-template-wrapper .booking-info-label-h #symbol {
     color:#6C1D45;
     padding-left: 3px;
 }
 .checkout-template-wrapper .booking-info-input-address {
     width: 100%;
     resize: none;
 }
 .checkout-template-wrapper .booking-info-btn- {
     background: #6679CC;
     border: 1px solid #6679CC;
     box-sizing: border-box;
     color: #ffffff;
     padding: 9px 60px;
     font-size: 14px;
     text-transform: uppercase;
     transition: all 0.3s;
     font-weight: 200;
     border-radius: 0;
     letter-spacing: normal;
 }
 .checkout-template-wrapper  .ac-item {
     padding: 0px;
     margin: 0px;
     border-bottom: 2px solid #ebeef0;
 }
 .ac-heading:not(:first-child) {
     padding-top: 0px;
 }
 .ac-heading{
    padding: 21px 0 21px 0;
}
 .checkout-template-wrapper {
     display: none;
 }
 /* checkout page code*/
 
 /* appointment conformation code start */
 .ac-wapper-inner-image {
     text-align: center;
 }
 .ac-wrapper-inner-title-h {
     text-align: center;
 }
 .ac-wrapper-inner-description-p {
     text-align: center;
 }
 .ac-wrapper-inner-description-p span {
     display: block;
 }
 .layout_tah_cart .ac-wrapper-inner-title-h {
     font-size: 20px;
 }
 .ac-wrapper-inner-adat-p {
     text-align: center;
 }
 .layout_tah_cart  .ac-wrapper-inner-adat-p {
     font-size: 18px;
 }
 .ac-wapper-inner-adat-d-outer {
     display: flex;
 }
 .ac-wapper-inner-adat-d-d {
     width: 50%;
     margin-right: 20px;
 }
 .ac-wapper-inner-adat-d-t {
     width: 50%;
     border-left: 1px solid #6C1D45;
     padding-left: 20px;
 }
 #adat-t {
     font-size: 15px;
     margin: 0px;
 }
 #adat-d-v {
     font-size: 13px;
 }
 #adat-d {
     font-size: 15px;
     margin: 0px;
 }
 .ac-wrapper-inner-adat-d {
     text-align: end;
 }
 .ac-wrapper-inner-adat-t {
     text-align: start;
 }
 .ac-wapper-inner-mtd {
     border-bottom: 2px solid #f4f6f8;
     padding-bottom: 25px;
 }
 .ac-wapper-inner-adat-r{
   padding-top: 25px;
   padding-bottom: 25px;
   border-bottom: 2px solid #f4f6f8;
 }
 .ac-wapper-inner-adat-add{
   padding-top: 25px;
   padding-bottom: 25px;
   border-bottom: 2px solid #f4f6f8;
 }
 .ac-wapper-inner-adat {
     padding-bottom: 15px;
 }
 p.ac-wrapper-inner-adat-p-add-t {
     text-align: center;
     font-size: 18px;
 }
 #adat-add-p-v {
     text-align: center;
 }
 #adat-btncb {
     display: inline-block;
     background: #6679CC;
     border: 1px solid #6679CC;
     box-sizing: border-box;
     color: #ffffff;
     padding: 10px 30px;
     font-size: 16px;
     line-height: 23.76px;
     text-transform: uppercase;
     transition: all 0.3s;
     font-weight: 400;
     border-radius: 0;
     letter-spacing: normal;
 }
 .ac-wapper-inner-adat-btn {
     text-align: center;
     padding-bottom: 25px;
     padding-top: 50px;
 }
 #adat-whdyif {
     text-align: center;
     font-size:25px;
 }
 .whdyif-btns {
     width: 500px;
     display: flex;
     margin: 0 auto;
 }
 .whdyif-left {
     width: 250px;
     margin-right: 20px;
 }
 button#whdyif-left-btn {
     width: 100%;
 }
 .whdyif-right {
     width: 250px;
     margin-left: 20px;
 }
 #whdyif-right-btn {
     width: 100%;
 }
 button#whdyif-left-btn,#whdyif-right-btn {
     width: 100%;
     display: inline-block;
     background: #ffffff;
     border: 1px solid #6C1D45;
     box-sizing: border-box;
     color: #6C1D45;
     padding: 10px 30px;
     font-size: 16px;
     line-height: 23.76px;
     text-transform: uppercase;
     transition: all 0.3s;
     font-weight: 400;
     border-radius: 0;
     letter-spacing: normal;
 }
 #adat-add-p-v {
     text-align: center;
     font-size: 18px;
     width: 335px;
     margin: 0 auto;
     color: rgb(0 0 0 / 47%);
 }
 a#vmr-a {
     font-size:25px;
     text-transform: uppercase;
     text-decoration: underline;
     color: #6C1D45;
 }
 .layout_tah_cart  .ac-wrapper-title-h {
    font-size: 25px;
}
 #adat-el {
     text-align: center;
     font-size: 18px;
 }
 .ac-wapper-inner-adat-vmr {
     text-align: center;
     padding-top: 50px;
     padding-bottom: 25px;
 }
 #ac-wrapper{
 display: none;
 }
 .time-slot-input {
     width: 100%;
 }
 .date-slot-wrapper {
     padding-bottom: 35px;
 }
 h2.date-slot-label-h {
     font-size: 18px;
 }
 /* appointment conformation code end */
 
 /* opt modal */
 
   
 /** Modal */
 .tah-m-modal {
   pointer-events: none;
   opacity: 0;
   transition: opacity 0.3s;
   position: absolute;
   top: 180px;
   left: 0;
   right: 0;
   max-width: 500px;
   margin: 0 auto;
   padding: 30px;
   background: #fff;
   border-radius: 4px;
   box-shadow: 0 3px 10px rgba(0,0,0,0.3);
 }
 .tah-m-modal-close-btn {
   position: absolute;
   right: 10px;
   top: 10px;
   font-size: 20px;
 }
 
 /** Overlay */
 .tah-m-overlay {
   pointer-events: none;
   opacity: 0;
   transition: opacity 0.3s;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.3);
 }
 
 /** JS */
 .tah-m-is-visible {
   opacity: 1;
   pointer-events: auto;
 }
 
 
 
 
 
 .th_cart_inner .title{
   font-weight:600;
   margin-top:20px;
   font-size:24px
 }
 
 .th_cart_inner .customBtn{
   border-radius:0px;
   padding:10px;
   /* width: 100%; */
   width:85%;
 }
 
 .th_cart_inner form input{
   display:inline-block;
   width:50px;
   height:50px;
   text-align:center;
 }
 .th_cart_inner-outer {
     min-height: 80px;
 }
 .th_cart_inner-tc #mobile_no_m {
     font-size: 16px;
     padding-right: 5px;
 }
 #mobile_no_mc {
     font-size: 16px;
     text-decoration-line: underline;
     margin-left: 10px;
     color: #6C1D45;
     cursor: pointer; 
 }
 .th_cart_inner-tc {
     padding:30px 0 30px 0;
 }
 #tah-m-close-btn img {
     width: 20px;
     height: 20px;
 }
 #tah-m-close-btn {
     background: #fff;
     border: none;
     padding: 15px;
 }
 .mobile-no-cl #mncl-in {
    padding: 5px 8px;
    margin-right: 7px;
}
.mobile-no-cl {
display: none;
}
#mncl-in-btn {
    background: #6679CC;
    border:2px solid #6679CC;
    box-sizing: border-box;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
}
#mncl-in-btn:hover {
    color: #ffffff;
    border-color: #6C1D45;
    background: #6C1D45;
}
 /* end modal */


 /* Calender css start */


#table-header {
font-size: 20px;
}
#table-body {
font-size: 20px;
}
#sidebar {
display: none;
}
.calendar-footer #cancel_footer {
cursor: pointer;
border: 2px solid #c19595;
font-size: 16px;
width: 200px;
display: inline-block;
padding: 6px 0 6px 0;
text-transform: uppercase;
margin-right: 25px;
}
#apply_footer {
cursor: pointer;
margin-left: 25px;
border: 2px solid #1313cc;
font-size: 16px;
width: 200px;
display: inline-block;
padding: 6px 0 6px 0;
background-color: #1313cc;
color: #fff;
text-transform: uppercase;
}
h3,h4,h5 {
font-weight: 300 !important;
}



.calendar-header {
background-color:#fff;
height: 100%;
padding: 20px;
color: #fff;
font-weight: 300;
position: relative;
}
.header-text {
color: #000;
}
.row.header-title {
width: 80%;
display: inline-block;
}
#todayDayName {
display: none;
}
.header-title {
padding-left: 15%;
}

.header-background {
background-color:#fff ;
height:90px;
}

.calendar-content {
background-color: #fff;
margin:10px;
/*padding-left: 15%;
padding-right: 15%;*/
overflow: hidden;
}

.event-mark {
width: 5px;
height: 5px;
background-color: teal;
border-radius: 100px;
position: absolute;
left: 46%;
top: 70%;
}

.calendar-footer {
height: 100px;
font-weight: 300;
text-align: center;
background-color: #fff !important;
position: relative;
overflow: hidden;
}

.addForm {
position: absolute;
top: 100%;
width: 100%;
height: 100%;
background-color: #4b5889 !important;
transition: top 0.5s cubic-bezier(1, 0, 0, 1);
padding: 0 5px 0 5px;
}

.addForm input {
color: #fff;
}

.addForm .row {
padding-left: 0.75rem;
padding-right: 0.75rem;
margin-bottom: 0;
}

.addForm h4 {
color: #fff;
margin-bottom: 1rem;
}

.addEventButtons {
text-align: right;
padding: 0 0.75rem 0 0.75rem;
}

.addEventButtons a {
color: black;
font-weight: 300;
}

.emptyForm {
padding: 20px;
padding-left: 15%;
padding-right: 15%;
}

.emptyForm h4 {
color: #fff;
margin-bottom: 2rem;
}

.sidebar-wrapper {
color: #fff;
background-color: #5a649c !important;
padding-top: 0;
padding-bottom: 20px;
font-weight: 300;
padding-left: 0;
padding-right: 0;
}

.sidebar-title {
padding: 50px 6% 50px 12%;
}

.sidebar-title h4 {
margin-top: 0;
}

.sidebar-events {
overflow-x: hidden;
overflow-y: hidden;
margin-bottom: 70px;
}

.empty-message {
font-size: 1.2rem;
padding: 15px 6% 15px 12%;
}

.eventCard {
background-color: #fff;
color: black;
padding: 12px 24px 12px 24px;
border-bottom: 1px solid #E5E5E5;
white-space: nowrap;
position: relative;
animation: slideInDown 0.5s;
}

.eventCard-header {
font-weight: bold;
}

.eventCard-description {
color: grey;
}

.eventCard-mark-wrapper {
position: absolute;
right: 0;
top: 0;
height: 100%;
width: 60px;
background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 100%);
}

.eventCard-mark {
width: 8px;
height: 8px;
background-color: #b39ddb;
border-radius: 100px;
position: absolute;
left: 50%;
top: 45%;
}

.day-mark {
width: 7px;
height: 7px;
background-color: #b39ddb;
border-radius: 100px;
position: absolute;
left: 47%;
top: 67%;
}



#table-body .col:hover {
cursor: pointer;
/*border: 1px solid grey;*/
background-color: #6679CC;
color: #fff;
}
.col.blue.lighten-3:hover{
  background-color: #6C1D45 !important;
color: #fff !important;
}

.empty-day:hover {
cursor: default !important;
background-color: #fff !important;
}

#table-body .row .col {
padding: .75rem;
}

#table-body .col {
border: 1px solid transparent;
}

#table-body {}

#table-body .row {
margin-bottom: 0;
}

#table-body .col {
padding-top: 1.3rem !important;
padding-bottom: 1.3rem !important;
}

#calendar-table {
text-align: center;
}

.prev-button {
cursor: pointer;
left: 0%;
top: 35%;
color: grey !important;
}

.prev-button i {
font-size: 2em;
}

.next-button {
cursor: pointer;
right: 0%;
top: 35%;
color: grey !important;
}

.next-button i {
font-size: 2em;
}

.addEvent {
box-shadow: 0 5px 15px rgb(57, 168, 228);
background-color: #39a8e4;
padding: 10px;
padding-left: 3em;
padding-right: 3em;
cursor: pointer;
border-radius: 25px;
color: #fff !important;
background-image: linear-gradient(135deg, #8d8dd4, #45ced4);
}

.addEvent:hover {
transition: box-shadow 0.5s;
box-shadow: 0 4px 25px rgb(57, 168, 228);
}

.mobile-header {
padding: 0;
display: none;
padding-top: 20px;
padding-bottom: 20px;
position: fixed;
z-index: 99;
width: 100%;
background-color: #5a649c !important;
}

.mobile-header a i {
color: #fff;
font-size: 38px;
}

.mobile-header h4 {
color: #fff;
}

.mobile-header .row {
margin-bottom: 0;
}

.mobile-header h4 {
margin: 0;
font-weight: 300;
}
.content-wrapper {
width: 100%;
}
.calendar-wrapper.z-depth-2 {
    width: 100%;
    padding-top: 0;
    border: 2px solid #f4f6f8;
    margin-bottom: 30px;
    margin-top: 30px;
}
.choose-new-date {
background: #fff;

}
.choose-new-date p {
text-align: center;
font-size: 18px;
text-transform: capitalize;
margin-bottom: 0px;
color: #6C1D45;
padding-top: 25px;
}
.header-text #month-name {
font-size: 20px;
font-weight: 800 !important;
}
.pn_btn_cal{
    display: inline-block;
    float:right;
}
.model_calender{
display:none;
position:fixed;
padding-top: 100px;
padding-bottom: 100px;
top:0;
left:0;
z-index:999999;
overflow:auto;
width: 100%;
height: 100%;
background-color:rgba(0,0,0,0.4);
}

.model_calender .model-content{
position: relative;
width:50%;
margin:auto;
background-color:#fff;
animation-name: animatetop;
animation-duration: 0.4s
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

.model_calender .close {
  color: #454040;
    float: right;
    font-size: 35px;
    font-weight: bold;
    margin-right: 25px;
}

.model_calender .close:hover,
.model_calender .close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}
.model_calender .modal-header {
padding: 2px 16px;
color: white;
}

.model_calender .modal-body {padding: 2px 16px;}

.model_calender .modal-footer {
padding: 2px 16px;
color: white;
}
.model_calender .col.blue.lighten-3 {
    background: #6C1D45;
    color: #fff;
}
      
.service-charge{
    display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      font-size: 18px;
      line-height: 1;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      font-size: 13px;
  }
  
  .service-charge .delivery-notes-subheading { text-transform: capitalize;color: #6C1D45;}
  .layout_tah_cart .cart-subtotal__price {color: #000 !important;}
  .layout_tah_cart .cart__continue-controls{ padding-bottom: 5px !important;}
  .layout_tah_cart .coupon-info {padding: 10px 5px 3px !important;}
  .layout_tah_cart .cart_sum_title {margin-left: 0px !important;}
  .layout_tah_cart .cart__continue-controls .glb-btn {background: #fff;color: #6C1D45; width: 100%;text-align: center;}
  .layout_tah_cart .cart__submit-controls- .glb-btn {width: 100%;margin-bottom: 25px;text-align: center;}
  .layout_tah_cart .cart__continue-controls .glb-btn:hover {color: #ffffff;border-color: #6C1D45;background: #6C1D45;}
  .try-at-home-cart-describing {padding-top: 60px;}
  .describe-boxes{display:flex;}
  .describing-container{padding-left:100px;padding-right:100px;}
  .inner-explained-section {/*max-width: 382px;*/width: 25%;padding: 0px 35px;display: block;margin: 0 auto;}
  p.section-heading{padding-bottom:50px;font-family: Spectral;font-style: normal;font-weight: 200;font-size: 30px;line-height: 108%;align-items: center;text-transform: uppercase;color: #6C1D45;text-align:center;margin-bottom:0px;}
  p.sub-heading{padding-bottom:50px;font-family: Montserrat;font-style: normal;font-weight: 300;font-size: 26px;line-height: 108%;align-items: center;text-align: justify;color: #000000;text-align:center;margin-bottom:0px;}
  img.small-img-1{max-width:65px;height: 65px;/*width:100%;*/display:block;margin:0 auto;}
  p.small-text-1{text-align:center;margin-bottom:0px;font-family: Spectral;font-style: normal;font-weight: 200 !important;font-size: 28px !important;line-height: 120% !important;color: #6C1D45;padding:20px 0px 30px;max-width: 250px;display:block;margin:0 auto;min-height:130px;}
  p.small-text-2{text-align:center;margin-bottom:0px;font-family: Montserrat;font-style: normal;font-weight: 300;font-size:20px !important;line-height: 108% !important;color: #000000;}
  .small-text-1 span {display: block;}
  .small-text-2 span {display: block;}
  #cart__product_sku_id {font-size: 13px;padding-bottom: 10px;}
  #cart__product_message_id span { font-size: 12px; display: block;line-height: 1.2;}
  .cart__product_message { padding-bottom: 15px;}
  .cart_product_extra_message span { display: block;}
  #free_trail {font-size: 15px;color: #6C1D45;}
  #Available_to {font-size: 13px;color: #6C1D45;}
  .cart_product_extra_message {padding-bottom: 15px;}
  .extra-info-box p {padding-top: 5px;font-size: 12px;}
  
  .coupon-info-content- {width: 77%;vertical-align: middle;}
  .cart-right-greater-iocn img {width: 20px;height: 20px;vertical-align: middle;}
  .layout_tah_cart .padding_t {
      padding-top: 15px !important;
  }
  .glb-breadcrumb .bred_tex{ color: #6C1D45 !important;}
  span.delivery-notes-heading {
      text-transform: capitalize;
  }
  .error span {
      color: #6C1D45;
  }
  .error {
      padding-top: 10px;
  }

  .opt_error {
    padding-top: 18px;
    padding-bottom: 18px;
    color:#6C1D45;
}
 /* Calender css end */

 .city_state {
    display: flex;
    width: 100%;
}

.city_state .booking-info-wrapper {
    width: 100%;
}
 
.country_pincode {
    display: flex;
    width: 100%;
}
.country_pincode .booking-info-wrapper {
    width: 100%;
}
.city_state :first-child,.country_pincode :first-child {
    margin-right: 25px;
}
.layout_tah_cart .booking-info-label-h-add1 ,
.layout_tah_cart .booking-info-label-h-add2,
.layout_tah_cart .booking-info-label-h-city,
.layout_tah_cart .booking-info-label-h-state,
.layout_tah_cart .booking-info-label-h-country,
.layout_tah_cart .booking-info-label-h-pincode{
    font-size: 13px;
    padding-bottom: 10px;
}
.booking-info-label-h-city #text ,.booking-info-label-h-state #text,
.booking-info-label-h-country #text ,.booking-info-label-h-pincode #text{
    padding-left: 3px;
    margin: 0px;
}
#symbol {
    color: #6c1d45;
}
.cart_empty {
    padding: 60px 0 60px 0;
    text-align: center;
    vertical-align: middle;
}

.error_sty {
    padding: 15px 13px 10px;
    background: rgba(255, 0, 0, 0.1);
    border: 1px solid rgba(255, 0, 0, 0.5);
    font-weight: 400;
    font-size: 12px;
    line-height: 12.96px;
    position: relative;
    margin-top: 15px;
    width: 100%;
    color: #000000;
}
.error_sty :before {
    content: "";
    display: block;
    position: absolute;
    top: -6px;
    left: 12px;
    right: 0;
    height: 10px;
    width: 10px;
    background: #ffe5e5;
    border-top: 1px solid rgba(255, 0, 0, 0.5);
    border-left: 1px solid rgba(255, 0, 0, 0.5);
    transform: rotate(45deg);
}
.opt_error {
    width: 350px;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}