{% section 'loose-stone-banner-slider' %}

{% section 'loose-stone-plp-template' %}

{% section 'solitaire-image-with-content' %}

{% section 'diamond-ambasaador-slider' %}

<div class="jewellery-pdp-col-slider-md">
    {% section 'collection-slider' %}
</div>

