<div class="jewellery-buying-guide-layout">
    {% section 'diamond-buying-guide-banner' %}
    <div class="padding_tb">
        <div class="dia-container">
            <div class="rte">
                <div class="section_header_2">{{ page.content }}</div>
            </div>
        </div>
    </div>
</div>