
<h3>{{ page.title }}</h3>
<!-- {% section 'home-slideshow' %}

{%- comment -%}
Need to remove these sections after theme selected
{% section 'beyond-the-diamond' %}
{% section 'factual-comparison' %}
{%- endcomment -%}

{% section 'content-with-image' %}  

{% section 'full-width-slider' %}

{% section 'why-diamond2' %}

{% section 'full-width-slider2' %}

{% section 'ethically-produced' %}

{% section 'full-width-slider3' %}

{% section 'trust-for-life' %}

{% section 'shop-loose-diamond2-slider' %}

{% section 'collection-slider' %}

{% section 'custom-video' %} -->