<div class="static-layout-wrapper">
    <div class="top_banner_section">
        {% include 'banner' %}
    </div>
    <section class="padding_t common-layout-wrapper">
        <div class="dia-container">
            <div class="section-header-glb text-center"><h2>{{ page.title }}</h2></div>
            <center>
                <div class="rte">
                    {{ page.content }}
                </div>
                <br/>
                <br/>
                <div class="getCertificate">
                    <div><input type="text" id="certificate-number" value="" /><br /><br /></div>
                    <button class="glb-btn" type="button" id="search-certificate">Get Certificate</button>
                </div>
            </center>
        </div>
    </section>
</div>
