{%- comment -%}Add Full Width Slider 4{%- endcomment -%}
{% section 'full-width-slider4' %}
{%- comment -%}Page header{%- endcomment -%}
<h1>{{ page.title }}</h1>
<div class="page-content">
    <div class="dia-container">
        {% section 'loose-stone' %}
    </div>
</div>
{% section 'jewellery-pdp-slider' %}