<div class="static-layout-wrapper">
    <div class="top_banner_section">
        {% include 'banner' %}
    </div>
    <section class="padding_t">
        <div class="dia-container">
            <div class="section-header-glb"><h2>{{ page.title }}</h2></div>
            <div class="rte">
                {{ page.content }}
            </div>
        </div>
    </section>
</div>