<div class="common-layout-wrapper">
    <div class="dia-container">
        <div class="custom-section-header"><h1>{{ page.title }}</h1></div>
        <div class="two-col-layout"> 
            <!-- Sidebar Start -->
            <div class="sidebar-column">
                <div class="sidebar-nav">
                    {% if linklists.privacy-policy-menu.links.size > 0 %}
                    <ul>
                    {% for link in linklists.privacy-policy-menu.links %}
                    {% if link.title %}<li><a {% if forloop.first %}class="active"{% endif %} href="{{ link.url }}"><span class="menu_text">{{ link.title }}</span></a></li>{% endif %}
                    {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <!-- Sidebar End -->

            <div class="main-column">
                <div class="commaon-layout-section-wrapper">
                    <div class="commaon-layout-section show" id="privacy-policy">
                        {% section 'privacy-policy' %}
                    </div>
                    <div class="commaon-layout-section" id="contact-us">
                        {% section 'contact-us' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
