<div class="jewellery-buying-guide-layout">
    {% section 'jewellery-buying-guide-banner' %}
    <div class="padding_tb93">
        <div class="dia-container">
            <div class="rte">
                <div class="section_header_2">{{ page.content }}</div>
            </div>
        </div>
    </div>
    {% section 'pick-metal' %}
    {% section 'choose-your-gemstone' %}

    {% section 'guide-jewellery-collection' %}

    {% section 'jewellery-care' %}
    
    {% section 'diamond-ambasaador-slider' %}
</div>