<div id="shopify-section-cart-template-t-cart" class="shopify-section">
<div class="cart-template-wrapper padding_t">
    <div class="dia-container" data-section-id="cart-template" data-section-type="cart-template" data-ajax-enabled="true">
      <div data-cart-wrapper="">
        <div class="glb-breadcrumb">
          <ul>
            <li>
              <a href="/">Home</a>
              <span class="breadcrumb_divider">/</span>
            </li>
            <li><span class="bred_tex" id="breadcrumb-text-c" style="color:inherit;">Shopping Bag</span></li>
          </ul>
        </div>
        <div class="update-cart" id="tah-cart-form">
          <div class="cart-page-se-header">
            <div class="c_heading">TRY AT HOME SHOPPING BAG</div>
            <div class="total_cart_item">Items ( 2/7 ) Add Minimum 1 & Maximum 7 Design</div>
          </div>
          <form action="/cart" method="post" novalidate="" class="cart">
            <div class="cart-page-two-col-row">
              <div class="cart-page-left-column">
                <table>
                  <tbody data-cart-line-items="">

                      <tr data-removecartlink="/cart/change?line=1&amp;quantity=0" class="cart__row custom_cart_row cart__table-row" data-cart-item="" data-cart-item-key="42037293482233:556c714ec66bbd4318d04082457b315b" data-cart-item-url="/products/shop-solitaire-halo-earrings-je00043hwxhbg4?variant=42037293482233" data-cart-item-title="Solitaire Halo Diamond2 Earrings - 14K Rose Gold" data-cart-item-index="1" data-cart-item-quantity="1" max-avail-prodcut="1" data-proid="7438709358841">
                        <td class="cart__meta small--text-left custom_cart_item_left_col" data-cart-table-cell="">
                          <div class="cart__product-information">
                            <div class="cart__image-wrapper">
                              <img class="cart__image" src="//cdn.shopify.com/s/files/1/0575/2681/2840/products/je00043hwxhbg4rxx-f_xyzg_x190.jpg?v=1636560037" alt="14K Rose Gold" data-cart-item-image="" style="cursor: pointer;">
                            </div>
                            <div class="cart__product-body">
                              <div class="cart__product-body-left">
                                <div class="list-view-item__title">
                                  <a href="/products/shop-solitaire-halo-earrings-je00043hwxhbg4?variant=42037293482233" class="cart__product-title" data-cart-item-title="" data-role="product-title">
                                    Solitaire Halo Diamond2 Earrings
                                  </a>
                                </div>
                                <!-- Cart Quentity -->
                                <div class="cart__product_sku">
                                  <p id="cart__product_sku_id">SKU:JBH0002FI</p>
                                </div>
                                <div class="cart__product_message">
                                  <p id="cart__product_message_id">
                                    <span>We'll Call You To Confirm The Size And</span> 
                                    <span>We'll Bring Similar Designs Too. </span>
                                  </p>
                                </div>
                                <div class="cart_product_extra_message">
                                 <span id="free_trail"> FREE TRAIL </span>    
                                  <span id="Available_to">Available To Try From Tomorrow</span>
                                </div>
                                <div class="cart__final-price" data-cart-item-line-price="">
                                  <span class="org_price">SGD 3,690</span>
                                  <span class="price_inclusive_tex">Price inclusive of taxes</span>
                                </div>
                                <div class="hide" data-cart-discount-wrapper="">
                                  <div class="order-discount-card-wrapper" data-cart-discount=""></div>
                                </div>
                              </div>
                              <div class="cart__product-body-right">
                                <div class="add_wishlist_holder move-to-wishlist-btn">
                                  <a href="javascript:;" data-modal="showInfoModal" data-variantid="42037293482233" data-prodid="7438709358841" class="add_wishlist_icon" data-line="1" aria-label="more-to-wishlist" data-role="product-move-to-wishlist" aria-describedby="a11y-external-message"><svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M10.4656 19.2932L10.4657 19.2932L10.4613 19.2893C6.4707 15.748 3.97621 13.3889 2.47421 11.4221C0.996381 9.48702 0.5 7.95864 0.5 6.06061C0.5 2.92819 2.78653 0.5 5.55882 0.5C7.84706 0.5 9.13724 1.88072 10.1125 3.07689L10.5 3.55221L10.8875 3.07689C11.8628 1.88072 13.1529 0.5 15.4412 0.5C18.2135 0.5 20.5 2.92819 20.5 6.06061C20.5 7.95864 20.0036 9.48702 18.5258 11.4221C17.0238 13.3889 14.5293 15.748 10.5387 19.2893L10.5387 19.2893L10.5344 19.2932L10.5 19.3244L10.4656 19.2932Z" stroke="#6C1D45"></path>
                                  </svg>
                                  </a>
                                </div>
                                <div class="cart_remove_flex">
                                  <p class="cart__remove">
                                    <a class="text-link text-link--accent remove_cart_pop_btn">Close</a>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
  
                        <td class="cart__price text-right hide"><div data-cart-item-price="">
                            <dl data-cart-item-price-list=""><div class="hide" data-cart-item-discounted-price-group="">
                                <dt>
                                  <span class="visually-hidden">Regular price</span>
                                </dt>
                                <dd>
                                  <s data-cart-item-original-price="">SGD 3,690.00</s>
                                </dd>
                                <dt>
                                  <span class="visually-hidden">Sale price</span>
                                </dt>
                                <dd>
                                  <span class="order-discount" data-cart-item-final-price="">SGD 3,690.00</span>
                                </dd>
                              </div><div data-cart-item-regular-price-group="">
                                <dt>
                                  <span class="visually-hidden">Regular price</span>
                                </dt>
                                <dd data-cart-item-regular-price="">
                                  SGD 3,690.00
                                </dd>
                              </div><div class="hide" data-unit-price-group="">
                                <dt>
                                  <span class="visually-hidden visually-hidden--inline">Unit price</span>
                                </dt>
                                <dd>
                                  <span class="price-unit-price"><span data-unit-price=""></span><span aria-hidden="true">/</span><span class="visually-hidden">per&nbsp;</span><span data-unit-price-base-unit="">
                               </span>
                                  </span>
                                </dd>
                              </div>
                            </dl>
                          </div><ul class="order-discount order-discount--list order-discount--title order-discount--cart hide" aria-label="Discount" data-cart-item-discount-list=""><li class="order-discount__item" data-cart-item-discount="">
                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-saletag"><path d="M10 3a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm0-3H7a1 1 0 0 0-.71.29l-6 6a1 1 0 0 0 0 1.42l4 4a1 1 0 0 0 1.42 0c.19-.2 5.8-5.81 6-6A1 1 0 0 0 12 5V2a2 2 0 0 0-2-2z" fill="#231F20"></path></svg>
                                <span data-cart-item-discount-title=""></span> (-<span data-cart-item-discount-amount=""></span>)
                              </li></ul>
        
                          <div class="cart__qty medium-up--hide">
                            <label for="updates_42037293482233:556c714ec66bbd4318d04082457b315b" class="cart__qty-label" aria-label="Quantity" data-quantity-label-mobile="">
                              Qty
                            </label>
                            <input id="updates_42037293482233:556c714ec66bbd4318d04082457b315b" class="cart__qty-input" type="number" value="1" min="0" pattern="[0-9]*" data-quantity-input="" data-quantity-item="1" data-quantity-input-mobile="" data-role="product-quantity-mobile">
                          </div>
                          <div class="cart__qty-error-message-wrapper cart__qty-error-message-wrapper--mobile hide" role="alert" data-cart-quantity-error-message-wrapper="">
                            <span class="visually-hidden">Error </span>
                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 14 14"><g fill="none" fill-rule="evenodd"><path d="M7 0a7 7 0 0 1 7 7 7 7 0 1 1-7-7z"></path><path class="icon-error__symbol" d="M6.328 8.396l-.252-5.4h1.836l-.24 5.4H6.328zM6.04 10.16c0-.528.432-.972.96-.972s.972.444.972.972c0 .516-.444.96-.972.96a.97.97 0 0 1-.96-.96z"></path></g></svg>
                            <span class="cart__qty-error-message" data-cart-quantity-error-message=""></span>
                          </div>
                        </td>                     
                      </tr>
                    </tbody>
                </table>
              </div>
              <div class="cart-page-right-column">
                <div class="coupon-info">
                  <div class="coupon-info-icon">
                    <img src="https://cdn.shopify.com/s/files/1/0575/2681/2840/files/check-mark-svgrepo-com.svg?v=1648748830">                  
                  </div>
                  <div class="coupon-info-content-">
                    <p>Need help choosing Designs?</p>
                  </div>
                  <div class="cart-right-greater-iocn">
                    <img src="https://cdn.shopify.com/s/files/1/0575/2681/2840/files/greater-than-solid-svgrepo-com_1.svg?v=1648810255">
                  </div>
                </div>
                <div class="cart_sum_title">Order Summary</div>
                <div class="cart__footer">
                  <div class="grid">
                    <div class="grid__item delivery-notes">
                      <span class="delivery-notes-heading">Free Trail</span>
                      <span class="delivery-notes-subheading">INR O</span>
                    </div>
                    <div class="grid__item service-charge">
                      <span class="delivery-notes-heading">Service Charge</span>
                      <span class="delivery-notes-subheading">Free</span>
                    </div>
                    <div class="grid__item cart_total_item ">
                      <div class="cart-subtotal">
                        <span class="cart-subtotal__title">Total Cost</span>
                        <span class="cart-subtotal__price" data-cart-subtotal="">INR 0</span>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="cart_bottom_section">
                  <div class="cart__buttons-container" id="sap-btn">
                    <div class="cart__submit-controls-">
                      <a href="javascript:void(0);" class="glb-btn">Schedule your appointment</a>
                    </div>
                    <div class="cart__continue-controls">
                      <a href="/" class="glb-btn">add more design</a>
                    </div>
                <div class="extra-info-box">
                  <p>Add Minimum 1 & Maximum 7 design</p>
                </div>
              </div>
            </div>
          </form>
        </div>

       
      </div>
      <div class="empty-cart  hide" data-empty-page-content="">
          <h2>Your Shopping Bag</h2>
          <div class="content_holder">
              <p>Your shopping bag is empty.</p>
              <p>For faster checkout, sign in to your account.</p>
          </div>
          <a href="/account/register" class="glb-btn-with-arrow">SIGN IN or SIGN UP</a>       
      </div>
    </div>
  </div>
</div>
<div class="try-at-home-cart-describing" id="tah-cart-describing">
<div class="describing-container">
  <p class="section-heading">It Doesn't Get Easier than This!</p>
  <p class="sub-heading">It’s free, there’s no obligation to buy!</p>
 
  <div class="describe-boxes"> 
    <div class="inner-explained-section">
       <img class="small-img-1" src="https://cdn.shopify.com/s/files/1/0575/2681/2840/files/Try_at_Home__Shopping_b_1.jpg?v=1648807539">
       <p class="small-text-1"><span>Pick your favorite</span><span>designs online</span> </p>
       <p class="small-text-2"><span>Add minimum 1 and</span><span>maximum 7 designs.</span></p>
    </div>
    <div class="inner-explained-section">
       <img class="small-img-1" src="//cdn.shopify.com/s/files/1/0575/2681/2840/files/Vector_1.png?v=1641538680">
       <p class="small-text-1"><span>Book a free </span><span>appointment</span> </p>
       <p class="small-text-2"><span>Select your convenient </span><span>date, time and place.</span> </p>
    </div>  
    <div class="inner-explained-section">
       <img class="small-img-1" src="//cdn.shopify.com/s/files/1/0575/2681/2840/files/Vector_2.png?v=1641538698">
       <p class="small-text-1"><span>Try the designs</span><span>at home</span> </p>
       <p class="small-text-2"><span>Our Try at Home Consultants</span><span>will bring you your chosen</span><span> designs - at home or at work!</span></p>
    </div>
    <div class="inner-explained-section">
       <img class="small-img-1" src="//cdn.shopify.com/s/files/1/0575/2681/2840/files/21_Bag.png?v=1641538713">
       <p class="small-text-1"><span>Buy Only</span><span>if you like</span>  </p>
       <p class="small-text-2"><span>Buy on the spot! if you</span><span>don't like it, there's no</span><span>obligation to buy.</span></p>
    </div>
  </div>
 </div>
</div>

 <!-- checkout code -->
 <div class="checkout-template-wrapper dia-container" id="checkout-form">
  <div class="checkout-page-two-col-row">

    <div class="checkout-page-left-column">
     <form class="checkout-form">
       <div class="date-slot-wrapper">
       <div class="date-slot-label">
         <h2 class="date-slot-label-h">Pick a Date slot</h2>
       </div>
       <div class="date-slot-input">
         <input class="date-slot-input-date" type="date" data-date-inline-picker="true" value="" name="date"/>
       </div>
       <div class="error">
      </div>
      </div>

      <div class="time-slot-wrapper">
        <div class="time-slot-label">
          <h2 class="time-slot-label-h">Pick a time slot</h2>
        </div>
        <div class="time-slot-input-time">
          <select class="time-slot-input">
            <option value="11:30 AM - 01:00 PM"> 11:30 AM - 01:00 PM </option>
            <option value="11:30 AM - 01:00 PM"> 11:30 AM - 01:00 PM </option>
            <option value="11:30 AM - 01:00 PM"> 11:30 AM - 01:00 PM </option>
          </select>
        </div>
        <!-- <div class="error">
       </div> -->
       </div>

     <div class="booking-info-wrapper-outer">
     
      <div class="booking-info-label-title">
        <h2 class="booking-info-label-h-title"><span id="text">Booking Information</span></h2>
      </div>

      <div class="booking-info-wrapper">
        <div class="booking-info-label">
          <p class="booking-info-label-h"><span id="text">Full Name</span><span id="symbol">*</span></p>
        </div>
        <div class="booking-info-input name-input">
          <input class="booking-info-input-name" type="text" value="" required name="name"/>
        </div>
        <div class="error">
        </div>
       </div>

       <div class="booking-info-wrapper">
        <div class="booking-info-label">
          <p class="booking-info-label-h"><span id="text">Mobile Number</span><span id="symbol">*</span></p>
        </div>
        <div class="booking-info-input tel-input">
          <input class="booking-info-input-mobile" type="tel" value="" required name="tel"/>
        </div>
        <div class="error">
        </div>
       </div>

       <div class="booking-info-wrapper">
        <div class="booking-info-label">
          <p class="booking-info-label-h"><span id="text">Email Id</span><span id="symbol">*</span></p>
        </div>
        <div class="booking-info-input email-input">
          <input class="booking-info-input-email" type="email" value="" required name="email"/>
        </div>
        <div class="error">
        </div>
       </div>

       <div class="booking-info-wrapper">
        <div class="booking-info-label">
          <p class="booking-info-label-h"><span id="text">Your Address</span><span id="symbol">*</span></p>
        </div>
        <div class="booking-info-input address-input">
          <textarea class="booking-info-input-address" rows="4" cols="50" value="" name="address"></textarea>
        </div>
        <div class="error">
        </div>
       </div>

       <div class="booking-info-wrapper">
        <div class="booking-info-btn">
          <button class="booking-info-btn-" id="booking-info-btn-bn">Book Now</button>
        </div>
       </div>

      </div>
     </form>
    </div>

    <div class="checkout-page-right-column">
     <div class="faq">
      <div class="accordion-wrapper try-at-home-faq">
        <div class="ac-grid">
           <div class="ac-item">
              <div class="ac-heading">
                 <a href="javascript:void(0);" aria-describedby="a11y-external-message">
                    Q. Why try at home ?
                    <span class="icon_s">
                       <svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M11.9999 0.995538C12.0004 1.12361 11.9721 1.25016 11.9172 1.36588C11.8624 1.48159 11.7823 1.58354 11.6828 1.66423L6.54046 5.80498C6.3871 5.93107 6.19474 6 5.99622 6C5.79771 6 5.60534 5.93107 5.45199 5.80498L0.309616 1.51849C0.134589 1.37297 0.0245216 1.16387 0.00362666 0.937176C-0.0172683 0.710485 0.052721 0.484775 0.198198 0.3097C0.343674 0.134626 0.552721 0.0245285 0.779351 0.00362778C1.00598 -0.0172729 1.23163 0.0527353 1.40665 0.198252L6.00051 4.03037L10.5944 0.326846C10.7202 0.222013 10.8734 0.155421 11.0358 0.134949C11.1983 0.114478 11.3632 0.140983 11.5111 0.211329C11.6589 0.281675 11.7835 0.392918 11.8702 0.531895C11.9568 0.670871 12.0019 0.831765 11.9999 0.995538Z" fill="black"></path>
                       </svg>
                    </span>
                 </a>
              </div>
              <div class="rte ac-body">
                 <div class="ac-body-inner">Yes, all our jewellery is certified by GIA experienced/certified gemologists. All jewellery is sold with carries a certificate that carries all necessary details of the jewellery including the image.</div>
              </div>
           </div>
           <div class="ac-item">
              <div class="ac-heading">
                 <a href="javascript:void(0);" aria-describedby="a11y-external-message">
                    Q. Which are the cities in which this service is available?
                    <span class="icon_s">
                       <svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M11.9999 0.995538C12.0004 1.12361 11.9721 1.25016 11.9172 1.36588C11.8624 1.48159 11.7823 1.58354 11.6828 1.66423L6.54046 5.80498C6.3871 5.93107 6.19474 6 5.99622 6C5.79771 6 5.60534 5.93107 5.45199 5.80498L0.309616 1.51849C0.134589 1.37297 0.0245216 1.16387 0.00362666 0.937176C-0.0172683 0.710485 0.052721 0.484775 0.198198 0.3097C0.343674 0.134626 0.552721 0.0245285 0.779351 0.00362778C1.00598 -0.0172729 1.23163 0.0527353 1.40665 0.198252L6.00051 4.03037L10.5944 0.326846C10.7202 0.222013 10.8734 0.155421 11.0358 0.134949C11.1983 0.114478 11.3632 0.140983 11.5111 0.211329C11.6589 0.281675 11.7835 0.392918 11.8702 0.531895C11.9568 0.670871 12.0019 0.831765 11.9999 0.995538Z" fill="black"></path>
                       </svg>
                    </span>
                 </a>
              </div>
              <div class="rte ac-body">
                 <div class="ac-body-inner">Yes, all our jewellery is certified by GIA experienced/certified gemologists. All jewellery is sold with carries a certificate that carries all necessary details of the jewellery including the image.</div>
              </div>
           </div>
           <div class="ac-item">
            <div class="ac-heading">
               <a href="javascript:void(0);" aria-describedby="a11y-external-message">
                  Q. Which are the cities in which this service is available?
                  <span class="icon_s">
                     <svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.9999 0.995538C12.0004 1.12361 11.9721 1.25016 11.9172 1.36588C11.8624 1.48159 11.7823 1.58354 11.6828 1.66423L6.54046 5.80498C6.3871 5.93107 6.19474 6 5.99622 6C5.79771 6 5.60534 5.93107 5.45199 5.80498L0.309616 1.51849C0.134589 1.37297 0.0245216 1.16387 0.00362666 0.937176C-0.0172683 0.710485 0.052721 0.484775 0.198198 0.3097C0.343674 0.134626 0.552721 0.0245285 0.779351 0.00362778C1.00598 -0.0172729 1.23163 0.0527353 1.40665 0.198252L6.00051 4.03037L10.5944 0.326846C10.7202 0.222013 10.8734 0.155421 11.0358 0.134949C11.1983 0.114478 11.3632 0.140983 11.5111 0.211329C11.6589 0.281675 11.7835 0.392918 11.8702 0.531895C11.9568 0.670871 12.0019 0.831765 11.9999 0.995538Z" fill="black"></path>
                     </svg>
                  </span>
               </a>
            </div>
            <div class="rte ac-body">
               <div class="ac-body-inner">Yes, all our jewellery is certified by GIA experienced/certified gemologists. All jewellery is sold with carries a certificate that carries all necessary details of the jewellery including the image.</div>
            </div>
         </div>
         <div class="ac-item">
          <div class="ac-heading">
             <a href="javascript:void(0);" aria-describedby="a11y-external-message">
                Q. Which are the cities in which this service is available?
                <span class="icon_s">
                   <svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M11.9999 0.995538C12.0004 1.12361 11.9721 1.25016 11.9172 1.36588C11.8624 1.48159 11.7823 1.58354 11.6828 1.66423L6.54046 5.80498C6.3871 5.93107 6.19474 6 5.99622 6C5.79771 6 5.60534 5.93107 5.45199 5.80498L0.309616 1.51849C0.134589 1.37297 0.0245216 1.16387 0.00362666 0.937176C-0.0172683 0.710485 0.052721 0.484775 0.198198 0.3097C0.343674 0.134626 0.552721 0.0245285 0.779351 0.00362778C1.00598 -0.0172729 1.23163 0.0527353 1.40665 0.198252L6.00051 4.03037L10.5944 0.326846C10.7202 0.222013 10.8734 0.155421 11.0358 0.134949C11.1983 0.114478 11.3632 0.140983 11.5111 0.211329C11.6589 0.281675 11.7835 0.392918 11.8702 0.531895C11.9568 0.670871 12.0019 0.831765 11.9999 0.995538Z" fill="black"></path>
                   </svg>
                </span>
             </a>
          </div>
          <div class="rte ac-body">
             <div class="ac-body-inner">Yes, all our jewellery is certified by GIA experienced/certified gemologists. All jewellery is sold with carries a certificate that carries all necessary details of the jewellery including the image.</div>
          </div>
       </div>
       <div class="ac-item">
        <div class="ac-heading">
           <a href="javascript:void(0);" aria-describedby="a11y-external-message">
              Q. Which are the cities in which this service is available?
              <span class="icon_s">
                 <svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.9999 0.995538C12.0004 1.12361 11.9721 1.25016 11.9172 1.36588C11.8624 1.48159 11.7823 1.58354 11.6828 1.66423L6.54046 5.80498C6.3871 5.93107 6.19474 6 5.99622 6C5.79771 6 5.60534 5.93107 5.45199 5.80498L0.309616 1.51849C0.134589 1.37297 0.0245216 1.16387 0.00362666 0.937176C-0.0172683 0.710485 0.052721 0.484775 0.198198 0.3097C0.343674 0.134626 0.552721 0.0245285 0.779351 0.00362778C1.00598 -0.0172729 1.23163 0.0527353 1.40665 0.198252L6.00051 4.03037L10.5944 0.326846C10.7202 0.222013 10.8734 0.155421 11.0358 0.134949C11.1983 0.114478 11.3632 0.140983 11.5111 0.211329C11.6589 0.281675 11.7835 0.392918 11.8702 0.531895C11.9568 0.670871 12.0019 0.831765 11.9999 0.995538Z" fill="black"></path>
                 </svg>
              </span>
           </a>
        </div>
        <div class="rte ac-body">
           <div class="ac-body-inner">Yes, all our jewellery is certified by GIA experienced/certified gemologists. All jewellery is sold with carries a certificate that carries all necessary details of the jewellery including the image.</div>
        </div>
     </div>
     <div class="ac-item">
      <div class="ac-heading">
         <a href="javascript:void(0);" aria-describedby="a11y-external-message">
            Q. Which are the cities in which this service is available?
            <span class="icon_s">
               <svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.9999 0.995538C12.0004 1.12361 11.9721 1.25016 11.9172 1.36588C11.8624 1.48159 11.7823 1.58354 11.6828 1.66423L6.54046 5.80498C6.3871 5.93107 6.19474 6 5.99622 6C5.79771 6 5.60534 5.93107 5.45199 5.80498L0.309616 1.51849C0.134589 1.37297 0.0245216 1.16387 0.00362666 0.937176C-0.0172683 0.710485 0.052721 0.484775 0.198198 0.3097C0.343674 0.134626 0.552721 0.0245285 0.779351 0.00362778C1.00598 -0.0172729 1.23163 0.0527353 1.40665 0.198252L6.00051 4.03037L10.5944 0.326846C10.7202 0.222013 10.8734 0.155421 11.0358 0.134949C11.1983 0.114478 11.3632 0.140983 11.5111 0.211329C11.6589 0.281675 11.7835 0.392918 11.8702 0.531895C11.9568 0.670871 12.0019 0.831765 11.9999 0.995538Z" fill="black"></path>
               </svg>
            </span>
         </a>
      </div>
      <div class="rte ac-body">
         <div class="ac-body-inner">Yes, all our jewellery is certified by GIA experienced/certified gemologists. All jewellery is sold with carries a certificate that carries all necessary details of the jewellery including the image.</div>
      </div>
   </div>
   <div class="ac-item">
    <div class="ac-heading">
       <a href="javascript:void(0);" aria-describedby="a11y-external-message">
          Q. Which are the cities in which this service is available?
          <span class="icon_s">
             <svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.9999 0.995538C12.0004 1.12361 11.9721 1.25016 11.9172 1.36588C11.8624 1.48159 11.7823 1.58354 11.6828 1.66423L6.54046 5.80498C6.3871 5.93107 6.19474 6 5.99622 6C5.79771 6 5.60534 5.93107 5.45199 5.80498L0.309616 1.51849C0.134589 1.37297 0.0245216 1.16387 0.00362666 0.937176C-0.0172683 0.710485 0.052721 0.484775 0.198198 0.3097C0.343674 0.134626 0.552721 0.0245285 0.779351 0.00362778C1.00598 -0.0172729 1.23163 0.0527353 1.40665 0.198252L6.00051 4.03037L10.5944 0.326846C10.7202 0.222013 10.8734 0.155421 11.0358 0.134949C11.1983 0.114478 11.3632 0.140983 11.5111 0.211329C11.6589 0.281675 11.7835 0.392918 11.8702 0.531895C11.9568 0.670871 12.0019 0.831765 11.9999 0.995538Z" fill="black"></path>
             </svg>
          </span>
       </a>
    </div>
    <div class="rte ac-body">
       <div class="ac-body-inner">Yes, all our jewellery is certified by GIA experienced/certified gemologists. All jewellery is sold with carries a certificate that carries all necessary details of the jewellery including the image.</div>
    </div>
 </div>
 <div class="ac-item">
  <div class="ac-heading">
     <a href="javascript:void(0);" aria-describedby="a11y-external-message">
        Q. Which are the cities in which this service is available?
        <span class="icon_s">
           <svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.9999 0.995538C12.0004 1.12361 11.9721 1.25016 11.9172 1.36588C11.8624 1.48159 11.7823 1.58354 11.6828 1.66423L6.54046 5.80498C6.3871 5.93107 6.19474 6 5.99622 6C5.79771 6 5.60534 5.93107 5.45199 5.80498L0.309616 1.51849C0.134589 1.37297 0.0245216 1.16387 0.00362666 0.937176C-0.0172683 0.710485 0.052721 0.484775 0.198198 0.3097C0.343674 0.134626 0.552721 0.0245285 0.779351 0.00362778C1.00598 -0.0172729 1.23163 0.0527353 1.40665 0.198252L6.00051 4.03037L10.5944 0.326846C10.7202 0.222013 10.8734 0.155421 11.0358 0.134949C11.1983 0.114478 11.3632 0.140983 11.5111 0.211329C11.6589 0.281675 11.7835 0.392918 11.8702 0.531895C11.9568 0.670871 12.0019 0.831765 11.9999 0.995538Z" fill="black"></path>
           </svg>
        </span>
     </a>
  </div>
  <div class="rte ac-body">
     <div class="ac-body-inner">Yes, all our jewellery is certified by GIA experienced/certified gemologists. All jewellery is sold with carries a certificate that carries all necessary details of the jewellery including the image.</div>
  </div>
</div>
        </div>
     </div>
     </div>
  </div>
  
  </div>
</div>
  <!-- checkout code end -->

<!-- appointment conformation code start -->
<div class="ac-wrapper dia-container" id="ac-wrapper">
  <div class="ac-wrapper-title">
    <h2 class="ac-wrapper-title-h">Appointment Confirmation</h2>
  </div>
  <div class="ac-wapper-inner">

    <div class="ac-wapper-inner-mtd">
    <div class="ac-wapper-inner-image">
      <img src="https://cdn.shopify.com/s/files/1/0575/2681/2840/files/Try_at_Home__Appointment.png?v=1648824435">
    </div>
    <div class="ac-wapper-inner-title">
      <p class="ac-wrapper-inner-title-h"> Your Try At Home Has Been Conform</p>
    </div>
    <div class="ac-wapper-inner-description">
      <p class="ac-wrapper-inner-description-p"><span>We are so excited you booked your appointment.We are going to come hover with all your faourite</span><span>designs for you to try on.Please check all the deatils below</span></p>
    </div>
  </div>

    <div class="ac-wapper-inner-adat-r">
    <div class="ac-wapper-inner-adat">
      <p class="ac-wrapper-inner-adat-p">Appointment Date And Time</p>
    </div>

    <div class="ac-wapper-inner-adat-d-outer">
    <div class="ac-wapper-inner-adat-d-d">
      <div class="ac-wrapper-inner-adat-d"> 
      <p id="adat-d">Date</p>
      <p id="adat-d-v">2021-08-14</p>
      </div>
    </div>
    <div class="ac-wapper-inner-adat-d-t">
      <div class="ac-wrapper-inner-adat-t"> 
      <p id="adat-t">Time</p>
      <p id="adat-d-v">11:30 AM To 01:00 PM</p>
      </div>
    </div>
  </div>

  </div>

  <div class="ac-wapper-inner-adat-add">
    <div class="ac-wapper-inner-adat-add-t">
      <p class="ac-wrapper-inner-adat-p-add-t">Appointment Address</p>
    </div>
    <div class="ac-wapper-inner-adat-add-t-p">
      <div class="ac-wrapper-inner-adat-add-t-p-v"> 
      <p id="adat-add-p-v">
        Aryamond Singapore PTE .Limited 
        Wisma Atria
        #02-03-6/07
        435 Orchard Road
        Singapore 238877
      </p>
      </div>
    </div>
  </div>

  <div class="ac-wapper-inner-adat-btn">
    <button class="adat-btncb" id="adat-btncb">CONTINUE BROWSING</button>
  </div>

  <div class="ac-wapper-inner-adat-whdyif">
    <h2 class="adat-whdyif" id="adat-whdyif">WHO DID YOU BOOK IT FOR?</h2>
    <div class="whdyif-btns">
    <div class="whdyif-left">
      <button class="whdyif-left-btn" id="whdyif-left-btn">MYSELF</button>
    </div>
    <div class="whdyif-right">
      <button class="whdyif-right-btn" id="whdyif-right-btn">SOMEONE ELSE</button>
    </div>
  </div>
  </div>

  <div class="ac-wapper-inner-adat-vmr">
  <a href="javascript:vaoid(0);" class="vmr-a" id="vmr-a">VIEW MY REQUEST ></a>
  </div>

  <div class="ac-wapper-inner-adat-el">
    <div class="adat-el" id="adat-el">Incase you have any queries, Please write to us at info@Diamond2.com Or call us on 344434443444</div>
    </div>

  </div>
</div>

<!-- appointment conformation code end -->


<style>
.service-charge{
  display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 13px;
}

.service-charge .delivery-notes-subheading { text-transform: capitalize;}

.layout_tah_cart .coupon-info {padding: 10px 5px 3px !important;}
.layout_tah_cart .cart_sum_title {margin-left: 0px !important;}


.try-at-home-cart-describing {padding-top: 60px;}
.describe-boxes{display:flex;}
.describing-container{padding-left:100px;padding-right:100px;}
.inner-explained-section {/*max-width: 382px;*/width: 25%;padding: 0px 35px;display: block;margin: 0 auto;}
p.section-heading{padding-bottom:50px;font-family: Spectral;font-style: normal;font-weight: 200;font-size: 30px;line-height: 108%;align-items: center;text-transform: uppercase;color: #6C1D45;text-align:center;margin-bottom:0px;}
p.sub-heading{padding-bottom:50px;font-family: Montserrat;font-style: normal;font-weight: 300;font-size: 26px;line-height: 108%;align-items: center;text-align: justify;color: #000000;text-align:center;margin-bottom:0px;}
img.small-img-1{max-width:65px;height: 65px;/*width:100%;*/display:block;margin:0 auto;}
p.small-text-1{text-align:center;margin-bottom:0px;font-family: Spectral;font-style: normal;font-weight: 200 !important;font-size: 28px !important;line-height: 120% !important;color: #6C1D45;padding:20px 0px 30px;max-width: 250px;display:block;margin:0 auto;min-height:130px;}
p.small-text-2{text-align:center;margin-bottom:0px;font-family: Montserrat;font-style: normal;font-weight: 300;font-size:20px !important;line-height: 108% !important;color: #000000;}
.small-text-1 span {display: block;}
.small-text-2 span {display: block;}
#cart__product_sku_id {font-size: 13px;padding-bottom: 10px;}
#cart__product_message_id span { font-size: 12px; display: block;line-height: 1.2;}
.cart__product_message { padding-bottom: 15px;}
.cart_product_extra_message span { display: block;}
#free_trail {font-size: 15px;color: #6C1D45;}
#Available_to {font-size: 13px;color: #6C1D45;}
.cart_product_extra_message {padding-bottom: 15px;}
.extra-info-box p {padding-top: 5px;font-size: 12px;}

.coupon-info-content- {width: 260px;vertical-align: middle;}
.cart-right-greater-iocn img {width: 20px;height: 20px;vertical-align: middle;}
.layout_tah_cart .padding_t {
    padding-top: 15px !important;
}
.glb-breadcrumb .bred_tex{ color: #6C1D45 !important;}
span.delivery-notes-heading {
    text-transform: capitalize;
}
.error span {
    color: #ae0d5e;
}
.error {
    padding-top: 10px;
}
@media screen and (max-width: 600px){
  /* appointment conformation code start */
  .whdyif-btns {
    width: 100% !important;
    display: block !important;
    margin: 0px !important;
}

.whdyif-left {
    padding-bottom: 25px;
    width: 100% !important;
    margin-right: 0px !important;
}
.whdyif-right {
    width: 100% !important;
    margin-left: 0px !important;
}
/* appointment conformation code end */
}
@media screen and (max-width: 767px){
  .layout_tah_cart  .cart__buttons-container > div {
    width: 100% !important;
  }
.layout_tah_cart  .cart__buttons-container {
    display: block;
    flex-direction: unset;
    flex-wrap: unset;
    margin: 0 -7.5px;
    width: auto;
    max-width: initial;
}
.layout_tah_cart  .cart_bottom_section .cart__buttons-container > div {
    margin-bottom: 15px !important;
}
  .coupon-info-content- {width: 300px;vertical-align: middle;padding-top: 5px;}
 .describing-container {padding-left: 10px;padding-right: 10px;}
 p.section-heading {padding-bottom: 15px;font-size: 28px;color: #6c1d45;text-align: center;margin-bottom: 0;}
 p.sub-heading {padding-bottom: 25px;font-size: 15px;color: #000;margin-bottom: 0;}
 .describe-boxes {display: block;}
 .inner-explained-section {width: 100%;padding: 0 25px 25px 25px;display: block;margin: 0 auto;}
 img.small-img-1 {max-width: 70px;width: 100%;display: block;margin: 0 auto;height: 100%;padding-bottom: 15px;}
 p.small-text-1 {margin-bottom: 0;font-size: 15px!important;line-height: 120%!important;padding: 20px 0 10px;min-height: 0px;}
 p.small-text-2 {text-align: center;margin-bottom: 0;font-size: 15px!important;line-height: 108%!important;}
/* checkout code */
.checkout-template-wrapper .checkout-page-two-col-row .checkout-page-left-column {
    margin-right: 0px !important;
    width: 100% !important;
}
.checkout-template-wrapper .checkout-page-two-col-row .checkout-page-right-column {
    padding-left: 0px !important;
    width: 100% !important;
    border-left: 0px !important;
}
/* checkout code*/
/* appointment conformation code start */
h2.ac-wrapper-title-h {
    text-align: center;
}
.ac-wapper-inner-image {
    text-align: center;
    width: 100px;
    margin: 0 auto;
}
.ac-wapper-inner-title {
    padding-bottom: 20px;
}
.ac-wapper-inner-adat-add-t {
    padding-bottom: 20px;
}
#adat-add-p-v {
    line-height: 1.4;
}


/* appointment conformation code end */
}

@media screen and (min-width: 768px) and (max-width: 1024px){
.describing-container {padding-left: 20px;padding-right: 20px;}
p.section-heading {padding-bottom: 15px;font-size: 30px;margin-bottom: 0px;}
p.sub-heading {padding-bottom: 50px;font-size: 21px;margin-bottom: 0px;}
.describe-boxes {display: flex;justify-content: space-evenly;}
.inner-explained-section {max-width: 382px;width: 50%;padding: 0px 15px;display: block;margin: 0 auto;}
img.small-img-1 {max-width: 50px;height: 50px;/*width: 100%;*/display: block;margin: 0 auto;}
p.small-text-1 {font-weight: 200 !important;font-size: 18px !important;line-height: 120% !important;color: #6C1D45;padding: 20px 0px 10px;max-width: 250px;min-height: auto;}
p.small-text-2 {font-size:20px !important;line-height: 108% !important;color: #000000;}
}

@media screen and (min-width: 1025px) and (max-width: 1440px){
.describing-container {padding-left: 20px;padding-right: 20px;}
p.section-heading {padding-bottom: 10px;font-size: 30px;line-height: 108%;}
p.sub-heading {padding-bottom: 50px;font-size: 21px;}
.inner-explained-section {width: 25%;padding: 0px 15px;}
p.small-text-1 {font-weight: 200 !important;font-size: 21px !important;line-height: 120% !important;padding: 20px 0px 10px;min-height: auto;}
p.small-text-2 {font-size:16px !important;line-height: 108% !important;}

}

/* checkout page code */
.checkout-template-wrapper .checkout-page-two-col-row {
    display: flex;
    flex-wrap: wrap;
}
.checkout-template-wrapper .checkout-page-two-col-row .checkout-page-left-column {
    margin-right: 50px;
    width: calc(50.82% - 50px);
}
.checkout-template-wrapper .checkout-page-two-col-row .checkout-page-right-column {
    padding-left: 50px;
    width: 49.18%;
    border-left: 1px solid #6C1D45;
}
.checkout-template-wrapper {
    width: 100%;
}
.checkout-template-wrapper .ac-item .ac-heading a {
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
}
.checkout-template-wrapper .time-slot-label-h,.checkout-template-wrapper .booking-info-label-h-title {
    font-size: 18px;
}
.checkout-form input {
    width: 100%;
}
.time-slot-wrapper {
    padding-bottom: 35px;
}
.checkout-template-wrapper .booking-info-label-h {
    font-size: 13px;
    padding-bottom: 10px;
}
.checkout-template-wrapper .booking-info-wrapper {
    padding-bottom: 15px;
}
.checkout-template-wrapper .booking-info-label-h #symbol {
    color:#6C1D45;
    padding-left: 3px;
}
.checkout-template-wrapper .booking-info-input-address {
    width: 100%;
    resize: none;
}
.checkout-template-wrapper .booking-info-btn- {
    background: #6679CC;
    border: 1px solid #6679CC;
    box-sizing: border-box;
    color: #ffffff;
    padding: 9px 60px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.3s;
    font-weight: 200;
    border-radius: 0;
    letter-spacing: normal;
}
.checkout-template-wrapper  .ac-item {
    padding: 0px;
    margin: 0px;
    border-bottom: 2px solid #ebeef0;
}
.ac-heading {
    padding: 21px 0 21px 0;
}
.checkout-template-wrapper {
    display: none;
}
/* checkout page code*/

/* appointment conformation code start */
.ac-wapper-inner-image {
    text-align: center;
}
.ac-wrapper-inner-title-h {
    text-align: center;
}
.ac-wrapper-inner-description-p {
    text-align: center;
}
.ac-wrapper-inner-description-p span {
    display: block;
}
.layout_tah_cart .ac-wrapper-inner-title-h {
    font-size: 20px;
}
.ac-wrapper-inner-adat-p {
    text-align: center;
}
.layout_tah_cart  .ac-wrapper-inner-adat-p {
    font-size: 18px;
}
.ac-wapper-inner-adat-d-outer {
    display: flex;
}
.ac-wapper-inner-adat-d-d {
    width: 50%;
    margin-right: 20px;
}
.ac-wapper-inner-adat-d-t {
    width: 50%;
    border-left: 1px solid #6C1D45;
    padding-left: 20px;
}
#adat-t {
    font-size: 15px;
    margin: 0px;
}
#adat-d-v {
    font-size: 13px;
}
#adat-d {
    font-size: 15px;
    margin: 0px;
}
.ac-wrapper-inner-adat-d {
    text-align: end;
}
.ac-wrapper-inner-adat-t {
    text-align: start;
}
.ac-wapper-inner-mtd {
    border-bottom: 2px solid #f4f6f8;
    padding-bottom: 25px;
}
.ac-wapper-inner-adat-r{
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 2px solid #f4f6f8;
}
.ac-wapper-inner-adat-add{
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 2px solid #f4f6f8;
}
.ac-wapper-inner-adat {
    padding-bottom: 15px;
}
p.ac-wrapper-inner-adat-p-add-t {
    text-align: center;
    font-size: 18px;
}
#adat-add-p-v {
    text-align: center;
}
#adat-btncb {
    display: inline-block;
    background: #6679CC;
    border: 1px solid #6679CC;
    box-sizing: border-box;
    color: #ffffff;
    padding: 11px 30px;
    font-size: 18px;
    line-height: 23.76px;
    text-transform: uppercase;
    transition: all 0.3s;
    font-weight: 400;
    border-radius: 0;
    letter-spacing: normal;
}
.ac-wapper-inner-adat-btn {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 50px;
}
#adat-whdyif {
    text-align: center;
    font-size: 30px;
}
.whdyif-btns {
    width: 500px;
    display: flex;
    margin: 0 auto;
}
.whdyif-left {
    width: 250px;
    margin-right: 20px;
}
button#whdyif-left-btn {
    width: 100%;
}
.whdyif-right {
    width: 250px;
    margin-left: 20px;
}
#whdyif-right-btn {
    width: 100%;
}
button#whdyif-left-btn,#whdyif-right-btn {
    width: 100%;
    display: inline-block;
    background: #ffffff;
    border: 1px solid #6C1D45;
    box-sizing: border-box;
    color: #6C1D45;
    padding: 11px 30px;
    font-size: 18px;
    line-height: 23.76px;
    text-transform: uppercase;
    transition: all 0.3s;
    font-weight: 400;
    border-radius: 0;
    letter-spacing: normal;
}
#adat-add-p-v {
    text-align: center;
    font-size: 18px;
    width: 335px;
    margin: 0 auto;
    color: rgb(0 0 0 / 47%);
}
a#vmr-a {
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #6C1D45;
}

#adat-el {
    text-align: center;
    font-size: 18px;
}
.ac-wapper-inner-adat-vmr {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}
#ac-wrapper{
display: none;
}
.time-slot-input {
    width: 100%;
}
.date-slot-wrapper {
    padding-bottom: 35px;
}
h2.date-slot-label-h {
    font-size: 18px;
}
/* appointment conformation code end */
</style>


<script>

document.getElementById("sap-btn").addEventListener("click", function(event){
  event.preventDefault()
  document.getElementById('tah-cart-form').style.display = "none";
  document.getElementById('tah-cart-describing').style.display = "none";
  document.getElementById('breadcrumb-text-c').innerHTML = "Checkout";
  document.getElementById('checkout-form').style.display = "block";

  /* data collection of checkout form inputs*/
  
  /* data collection of checkout form inputs*/

 

});

document.getElementById("booking-info-btn-bn").addEventListener("click", function(event){
  event.preventDefault()
  // document.getElementById('tah-cart-form').style.display = "none";
  // document.getElementById('tah-cart-describing').style.display = "none";
  // document.getElementById('breadcrumb-text-c').innerHTML = "Checkout";
  // document.getElementById('checkout-form').style.display = "none";
  // document.getElementById('checkout-form').style.display = "none";
  // document.getElementById('ac-wrapper').style.display = "block";


   /* data collection of appointment conformation form input*/
   let date = document.querySelector(".date-slot-input-date").value;
   let time = document.querySelector(".time-slot-input-time").value;
   let name = document.querySelector(".booking-info-input-name").value;
   let mobile_no = document.querySelector(".booking-info-input-mobile").value;
   let email = document.querySelector(".booking-info-input-email").value;
   let address = document.querySelector(".booking-info-input-address").value;

 /* validation */

   let input_fill =false; 

   if (date ==''&& name =='' && mobile_no=='' && email =='' && address==''){
   let errors= document.querySelectorAll(".error");
 
    for (i = 0; i < errors.length; i++) {
      errors[i].innerHTML="<span>field is require!</span>";
      }
   }

   if(date !=''){
   document.querySelector(".date-slot-input").nextElementSibling.innerHTML='';
   input_fill=true;
   }else{
    document.querySelector(".date-slot-input").nextElementSibling.innerHTML='<span>field is require!</span>';
    input_fill=false;
  }

   if(name !=''){
    input_fill=true;
     document.querySelector(".name-input").nextElementSibling.innerHTML='';
   }else{
    input_fill=false;
    document.querySelector(".name-input").nextElementSibling.innerHTML='<span>field is require!</span>';
   }

   if(mobile_no !=''){

    var phoneno = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
     if( ! mobile_no.match(phoneno)){
       input_fill=false;
        document.querySelector(".tel-input").nextElementSibling.innerHTML='<span>Invalid Phone Number!</span>';
          }
        else{
          input_fill=true;
          document.querySelector(".tel-input").nextElementSibling.innerHTML='';  
        }
   
   }else{
    input_fill=false;
    document.querySelector(".tel-input").nextElementSibling.innerHTML='<span>field is require!</span>';
   }

   if(email !=''){
    var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;

      if ( ! email.match(validRegex)) {
        input_fill=false;
        document.querySelector(".email-input").nextElementSibling.innerHTML='<span>Invalid email address!</span>';
      }else{
        input_fill=true;
        document.querySelector(".email-input").nextElementSibling.innerHTML='';
      }

    //document.querySelector(".email-input").nextElementSibling.innerHTML='';

   }else{
    input_fill=false;
    document.querySelector(".email-input").nextElementSibling.innerHTML='<span>field is require!</span>';
   }

   if(address !=''){
    input_fill=true;
     document.querySelector(".address-input").nextElementSibling.innerHTML='';
   }else{
    input_fill=false;
    document.querySelector(".address-input").nextElementSibling.innerHTML='<span>field is require!</span>';
   }

let errors= document.querySelectorAll(".error");
 
 for (i = 0; i < errors.length; i++) {
   if (errors[i].hasChildNodes()) {
   console.log("yes")
   input_fill=false;
}
}

/* end validation */

/* after form validation */
 if( input_fill)
 {
  document.getElementById('tah-cart-form').style.display = "none";
  document.getElementById('tah-cart-describing').style.display = "none";
  document.getElementById('breadcrumb-text-c').innerHTML = "Checkout";
  document.getElementById('checkout-form').style.display = "none";
  document.getElementById('checkout-form').style.display = "none";
  document.getElementById('ac-wrapper').style.display = "block";

 }

    /* data collection of appointment conformation form input*/

});

</script>




<button class="btn" id="btn-modal">開く</button>

<div class="tah-m-overlay" id="tah-m-overlay"></div>
<div class="tah-m-modal" id="tah-m-modal">
  <button class="tah-m-modal-close-btn" id="tah-m-close-btn"><i class="fa fa-times" title="closed"></i></button>
 
<div class="th_cart_inner">
  <div class="row justify-content-md-center">
      <div class="col-md-4 text-center">
        <div class="row">
          <div class="col-sm-12 mt-5 bgWhite">
            <div class="title">
              Enter 6 Digit OPT to confirm your appointment
            </div>
            <div class="th_cart_inner-tc">
            </div>
            <div class="th_cart_inner-outer">
            <form action="" class="th_cart_inner-form">
              <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(1)' maxlength=1 >
              <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(2)' maxlength=1 >
              <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(3)' maxlength=1 >
              <input class="otp" type="text" oninput='digitValidate(this)'onkeyup='tabChange(4)' maxlength=1 >
  <input class="otp" type="text" oninput='digitValidate(this)'onkeyup='tabChange(5)' maxlength=1 >
<input class="otp" type="text" oninput='digitValidate(this)'onkeyup='tabChange(6)' maxlength=1 >              
            </form>
          </div>
            <button class='btn mt-4 mb-4 customBtn'>Verify</button>
          </div>
        </div>
      </div>
  </div>
</div>

  
</div>

<style>

  
/** Modal */
.tah-m-modal {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
.tah-m-modal-close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
}

/** Overlay */
.tah-m-overlay {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/** JS */
.tah-m-is-visible {
  opacity: 1;
  pointer-events: auto;
}





.th_cart_inner .title{
  font-weight:600;
  margin-top:20px;
  font-size:24px
}

.th_cart_inner .customBtn{
  border-radius:0px;
  padding:10px;
  width: 100%;
}

.th_cart_inner form input{
  display:inline-block;
  width:50px;
  height:50px;
  text-align:center;
}
.th_cart_inner-outer {
    min-height: 80px;
}

</style>

<script>
  document.getElementById('btn-modal').addEventListener('click', function() {
  document.getElementById('tah-m-overlay').classList.add('tah-m-is-visible');
  document.getElementById('tah-m-modal').classList.add('tah-m-is-visible');
});

document.getElementById('tah-m-close-btn').addEventListener('click', function() {
  document.getElementById('tah-m-overlay').classList.remove('tah-m-is-visible');
  document.getElementById('tah-m-modal').classList.remove('tah-m-is-visible');
});


</script>
