<div class="common-layout-wrapper terms_us_policy_layout">
    <div class="dia-container">
        <div class="custom-section-header"><h1>{{ page.title }}</h1></div>
        {% section 'terms-and-conditions' %}
    </div>
</div>
