<<<<<<< HEAD
<div class="diamond-buying-guide-layout">
    {% section 'diamond-buying-guide-banner' %}
    <div class="padding_tb">
        <div class="dia-container">
            <div class="rte">
                <div class="section_header_2">{{ page.content }}</div>
            </div>
        </div>
    </div>
    {% section 'diamond-tabber' %}

    {% section 'shop-by-diamond-shapes' %}

    {% section 'diamond-guide-two-column-content' %}

    {% section 'diamond-ambasaador-slider' %}
=======
<div class="diamond-buying-guide-layout">
    {% section 'diamond-buying-guide-banner' %}
    <div class="padding_tb">
        <div class="dia-container">
            <div class="rte">
                <div class="section_header_2">{{ page.content }}</div>
            </div>
        </div>
    </div>
    {% section 'diamond-tabber' %}

    {% section 'shop-by-diamond-shapes' %}

    {% section 'diamond-guide-two-column-content' %}

    {% section 'diamond-ambasaador-slider' %}
>>>>>>> dev-ayush
</div>