
/*base font family*/
@mixin base-font(){
  font-family: 'Montserrat', sans-serif;
  font-weight:normal;
}

@mixin heading-fonts() {
  font-family: 'Spectral', serif;
  font-weight: normal;
}

@mixin prefix-transform-translate(){
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  @mixin smooth-transition() {
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }

  @mixin bdr-radius10() {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
  }
  @mixin bdr-radius50() {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
  }
  /*============================================================================
#Breakpoint
==============================================================================*/
$content-container: 1720px;
$background-blue: #89A1C0;
$textcolor-black: #000000;
$textcolor-white: #ffffff;
$textcolor-phanton: #6C1D45;
@mixin content-container() {
  max-width: 1920px;
  padding-left: 100px;
  padding-right: 100px;
  @media screen and (max-width: $xl) {
    padding-left: 55px;
    padding-right: 55px;
  }
  @media screen and (max-width: $md) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
$viewportIncrement: 1px;

$sm: 576px;
$md: 749px;
$lg: 991px;
$xl: 1199px;
$xxl: 1600px;
$siteWidth: 1920px;
$tabOrient: 1023px;
$tab:1099px;

$postSm: $sm +  $viewportIncrement;
$postTab: $tab +  $viewportIncrement;
$postTabOrient: $tabOrient + $viewportIncrement;
$PostXl: $xl + $viewportIncrement;
$postMd: $md + $viewportIncrement;
$postLg: $lg + $viewportIncrement;
$postSiteWidth: $siteWidth + $viewportIncrement;

@mixin font-range-56to26() {
  font-size: calc(26px + (100vw - 750px)/1170 * 30);
  line-height: calc(30px + (100vw - 750px)/1170 * 30);
  @media screen and (max-width: $md){
    font-size: 26px;
    line-height: 30px;
  }	
  @media screen and (min-width: $postSiteWidth) {
    font-size: 2.916666666666667vw;
    line-height: 3.125vw;
  }
}

@mixin font-range-36to24() {
  font-size: calc(24px + (100vw - 750px)/1170 * 12);
  line-height: calc(24px + (100vw - 750px)/1170 * 12);
  @media screen and (max-width: $md){
    font-size: 24px;
    line-height: 26px;
  }	
  @media screen and (min-width: $postSiteWidth) {
    font-size: 1.87vw;
    line-height: 2.02vw;
  }
}

@mixin font-range-24to16() {
  font-size: calc(16px + (100vw - 750px)/1170 * 8);
  line-height: calc(16px + (100vw - 750px)/1170 * 8);;
  @media screen and (max-width: $md){
    font-size: 16px;
  }	
  @media screen and (min-width: $postSiteWidth) {
    font-size: 1.25vw;
    line-height: 1.354vw;
  }
}

@mixin base-font-size() {
  font-size: 16px;
  @media screen and (max-width: $md){
    font-size: 12px;
  }	
  @media screen and (min-width: $postSiteWidth) {
    font-size: 0.8333vw;
    line-height: 0.9375vw;
  }
}

@mixin mobile_hide() {
  @media screen and (max-width: $md) {
    display: none!important;    
  }
}
@mixin desktop_hide() {
  @media screen and (min-width: $postMd) {
    display: none!important;    
  }
}

@mixin container-spacing() {
  padding-left: 30px;
  padding-right: 30px;
  @media screen and (max-width: $md) {
    padding-left: 15px;
    padding-right: 15px;   
  } 
}
/*==============================================================================
#Common Classes and Styles
=================================================================================*/
.dia-container{
  @include content-container();
  margin: 0 auto;
}
.custom-link {
  text-transform: uppercase;
  color: $textcolor-white;
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .desktop_hide {
    @include desktop_hide();
  }
  .mobile_hide {
    @include mobile_hide();
  }

   /* Home page section -- Image with Video */
   .home--slider { 
    display: block;
    width: 100%;
    padding-bottom: 0px;
    padding-top: 0px;
    .homepage-slider-wrapper {
      display: block;
      .slick-arrow {
        outline: none;
        position: absolute;
        width: 50px;
        height: 80px;
        top: 50%;
        z-index: 99;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        &::before {
          content: '';
        }
      }
      img,video {
          width: 100%;
          max-height: 100vh;
          object-fit: cover;
      }
      .slide-item {
        position: relative;
        font-size: 0px;
        .slide-overlay {
          position:absolute;
          left: 150px;
          bottom: 90px;
          font-size: 26px;
          text-align: left;
          @include base-font();
          @media screen and (min-width: $postMd) and (max-width: $tab) {
            bottom: 40px;
            left: 100px; 
            font-size: 20px; 
          }
          @media screen and (max-width: $md) {
            position: relative;
            bottom:initial;
            left: initial;
            font-size: 16px; 
            padding-top: 40px;
            padding-bottom: 40px;
            @include container-spacing();  
            color: $textcolor-black!important;          
          }
          .slide-overaly-heading {
            @include heading-fonts();
            @include font-range-56to26();
            font-weight: 200;
            letter-spacing: 0em;
            margin-bottom: 60px;
            text-transform: uppercase;
            @media screen and (max-width: $tab) {
              margin-bottom: 20px; 
            }
          }
          .slide-overlay-link {
            display: block;
            margin-top: 60px;
            font-weight: 500;
            text-transform: uppercase;
            color: #6C1D45;
            @media screen and (max-width: $tab) {
              margin-top: 20px; 
            }
            @media screen and (max-width: $md) {
              color: $textcolor-black!important;              
            }
          }
          &.content-right {
            left: initial;
            right: 150px;
            text-align: right;
            @media screen and (min-width: $postMd) and (max-width: $tab) {
              right: 100px; 
            }
            @media screen and (max-width: $md) {
              right: initial;
              text-align: left;
            }
          }
        }
      }
      .slick-dots {
        position: absolute;
        width: 100%;
        bottom: 50px;
        z-index: 9;
        li {
            width: 25px;
            height: 25px;
            @include bdr-radius50();
            background: #ffffff;
            margin: 0 5px;
            &.slick-active {
              background: #6C1D45;
            }
            button {
              display: none;
            }
        }
      }
    }
  }

  /* Home page section --  image with text */
  .homepage-image-text {
    background-color: $background-blue;
    color: $textcolor-white;
    .feature-row__item {
      flex: none;
      width: 60%;
      @media screen and (max-width: $lg){
        width: 50%;
      }
      @media screen and (max-width: $md) {
        width: 100%;
      }
      &.feature-row__text {
        color: $textcolor-white;
        width: 40%;
        @media screen and (max-width: $lg){
          width: 50%;
        }
        @media screen and (max-width: $md) {
          width: 100%;
          padding-top: 10px;
        }
        &.feature-row__text--left {
          padding-left: 100px;
          @media screen and (max-width: $lg){
            padding-left: 50px;
          }
          @media screen and (max-width: $md) {
            padding-left: 0px;
          }
        }
        &.feature-row__text--right {
          padding-right: 100px;
          @media screen and (max-width: $lg){
            padding-right: 50px;
          }
          @media screen and (max-width: $md) {
            padding-right: 0px;
          }
        }
      }
      .feature-row__image {
        @include bdr-radius10();
      }
      .h3 {
        @include heading-fonts();
        @include font-range-36to24();
        text-transform: uppercase;
        margin-bottom: 40px;;
        @media screen and (max-width: $md) {
          margin-bottom: 30px;
        }
      }
      .featured-row__subtext {
        color: $textcolor-white;
        p{
          color:$textcolor-white;
        }
      }
      .custom-link {
        margin-top: 20px;
        display: inline-block;
        @media screen and (max-width: $md) {
          margin-top: 10px;          
        }
      }
    }    
  }

  // Home Solitaire collection
  .home-scl,
  .home-jcl {
    padding: 60px 0;
    background-color: $background-blue;
    .scl-header {
      text-align: center;
      color: $textcolor-white;
      .h3 {
        @include heading-fonts();
        @include font-range-36to24();
        text-transform: uppercase;
        margin-bottom: 40px;;
        @media screen and (max-width: $md) {
          margin-bottom: 30px;
        }
      }
      .scl-desc {
        margin-bottom: 30px;
        color: $textcolor-white;
        p {
          color: $textcolor-white;
        }
      }
    }
    .scl-collage {
      display: flex;
      flex-direction: row;
      gap: 30px;
      justify-content: center;
      @media screen and (max-width: $md) {
        flex-direction: column;   
        gap: 10px;     
      }
      [class ^="block-"]{
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media screen and (max-width: $md){
          flex-direction: row;
          gap: 10px;
        }
        [class ^="box-"]{
          display: flex;
          justify-content: center;
          align-items: center;  
          border-radius: 10px;
          position: relative;
          overflow: hidden;
          background-color: #f1f1f3;
          .content-box {
            position: absolute;
            width: 100%;
            text-align: center;
            bottom: 10px;            
            h3{
              @include base-font-size();
              margin-bottom: 5px;
              @media screen and (max-width: $md) {
                margin-bottom: 0px;                
              }
            }
            .custom-link {
              @include base-font-size();
              color: #6C1D45;
            }
          }
          &.full-width {
            flex-basis: 100%!important;
          }
        }       
        /* //B & D */
        .box--1-1, .box--1-2,
        .box--2-1,  .box--2-2,
        .box--3-1,.box--3-2{
          flex-basis: 50%;
        }
      }   
    }
    .scl-collection-link {
      text-align: center;
      padding: 30px 0 0;
      a{
        color:$textcolor-white;
      }
    }
  }
  .home-scl{
    .scl-collage {
      [class ^="block-"]{
        .box--2-1{
          flex-basis: 60%;
        }
        .box--2-2 {
          flex-basis: 40%;
          .content-box {
            text-align: right;
            right: 10px;
            width: auto;
            top: 50%;
            bottom: initial;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  // Shop Loose Diamond section

  .home-sld {
    padding: 55px 0;    
      .shop-loose-diamond2-slider-top-row{
        color: $textcolor-black;
        max-width: 580px;
        .h3 {
          color: $textcolor-phanton;
          @include heading-fonts();
          @include font-range-36to24();
          text-transform: uppercase;
          margin-bottom: 40px;;
          @media screen and (max-width: $md) {
            margin-bottom: 30px;
          }
        }
      }   
      .shop-loose-diamond2-slider {
        position: relative;
        padding: 0 50px;
        .slick-arrow{
          width: 25px;
          height: 60px;
          position: absolute;
          top:50%;
          z-index: 99;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          &:before{
            display: none;
          }
        }
        .shop-loose-diamond2-slide{
          .shop-loose-diamond2-slide-inner{
            text-align: center;
            padding: 0 30px;
            @media screen and(max-width: $md) {
              padding: 0 15px;              
            }
            .img_holder{
              min-height: 1px;
              padding-bottom: 100%;
              position: relative;
              img{
                position: absolute;
                width: 100%;
                max-width: 100%;
                top:50%;
                left: 50%;
                @include prefix-transform-translate();
              }
            }
            .caption_holder {
              margin-top: 5px;
              display: inline-block;
              line-height: 1;
              color: $textcolor-phanton;
              text-transform: uppercase;
              border-bottom: 1px solid $textcolor-phanton;
            }
          }
        }
      }   
      .sld-collection-link {
        text-align: center;
        padding: 60px 0px 0px;
        a{
          color: $textcolor-black;
        }
      }
  }
  footer{
    a{
      color: $textcolor-phanton;
    }
  }
  
  // Know Your Diamond Page

// Factual Comparison Tabel



.factual-comparison-table {
  table {
    margin: 0;
    border: none;
    border-spacing: 0;
    th, td {
      text-align: center;
      border: 1px solid #FFFFFF;
      font-weight: normal;
      color: #fff;
      font-size: 18px;
      line-height: 19.44px; 
      padding: 10px;
      text-transform: uppercase;
      &:not(:last-child) {
        border-right-width: 2px;
      }
      &:last-child {
        background: #ECE2E7;
      }
    }
    th {
      height: 90px;
    }
    td {
      height: 60px;
    }
  }
}
  