
/*base font family*/
@mixin base-font(){
  font-family: 'Montserrat', sans-serif;
  font-weight:normal;
}

@mixin heading-fonts() {
  font-family: 'Spectral', serif;
  font-weight: normal;
}

@mixin prefix-transform-translate(){
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  @mixin smooth-transition() {
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }
  /*============================================================================
#Breakpoint
==============================================================================*/
$content-container: 1720px;
$viewportIncrement: 1px;

$sm: 576px;
$md: 749px;
$lg: 991px;
$xl: 1199px;
$xxl: 1600px;
$siteWidth: 1920px;
$tabOrient: 1023px;
$tab:1099px;

$postSm: $sm +  $viewportIncrement;
$postTab: $tab +  $viewportIncrement;
$postTabOrient: $tabOrient + $viewportIncrement;
$PostXl: $xl + $viewportIncrement;
$postMd: $md + $viewportIncrement;
$postLg: $lg + $viewportIncrement;
$postSiteWidth: $siteWidth + $viewportIncrement;

@mixin font-range-56to26() {
  font-size: calc(26px + (100vw - 750px)/1170 * 30);
  line-height: calc(30px + (100vw - 750px)/1170 * 30);
  @media screen and (max-width: $md){
    font-size: 26px;
    line-height: 30px;
  }	
  @media screen and (min-width: $postSiteWidth) {
    font-size: 2.916666666666667vw;
    line-height: 3.125vw;
  }
}

@mixin font-range-36to24() {
  font-size: calc(24px + (100vw - 750px)/1170 * 12);
  line-height: calc(24px + (100vw - 750px)/1170 * 12);
  @media screen and (max-width: $md){
    font-size: 36px;
  }	
  @media screen and (min-width: $postSiteWidth) {
    font-size: 1.87vw;
    line-height: 2.02vw;
  }
}

@mixin font-range-24to16() {
  font-size: calc(24px + (100vw - 750px)/1170 * 8);
  line-height: calc(24px + (100vw - 750px)/1170 * 8);;
  @media screen and (max-width: $preMd){
    font-size: 24px;
  }	
  @media screen and (min-width: $postSiteWidth) {
    font-size: 1.25vw;
    line-height: 1.354vw;
  }
}

@mixin mobile_hide() {
  @media screen and (max-width: $md) {
    display: none!important;    
  }
}
@mixin desktop_hide() {
  @media screen and (min-width: $postMd) {
    display: none!important;    
  }
}

@mixin container-spacing() {
  padding-left: 30px;
  padding-right: 30px;
  @media screen and (max-width: $md) {
    padding-left: 15px;
    padding-right: 15px;   
  } 
}
/*==============================================================================
#Common Classes and Styles
=================================================================================*/
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .desktop_hide {
    @include desktop_hide();
  }
  .mobile_hide {
    @include mobile_hide();
  }

   /* Home page section -- Image with Video */
   .home--slider { 
    display: block;
    width: 100%;
    .homepage-slider-wrapper {
      display: block;
      .slick-arrow {
        outline: none;
        position: absolute;
        width: 50px;
        height: 80px;
        top: 50%;
        z-index: 99;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        &::before {
          content: '';
        }
      }
      img,video {
          width: 100%;
          max-height: 100vh;
          object-fit: cover;
      }
      .slide-item {
        position: relative;
        font-size: 0px;
        .slide-overlay {
          position:absolute;
          left: 150px;
          bottom: 90px;
          font-size: 26px;
          @include base-font();
          @media screen and (min-width: $postMd) and (max-width: $tab) {
            bottom: 40px;
            left: 100px; 
            font-size: 20px; 
          }
          @media screen and (max-width: $md) {
            position: relative;
            bottom:initial;
            left: initial;
            font-size: 16px; 
            padding-top: 40px;
            @include container-spacing();            
          }
          .slide-overaly-heading {
            @include heading-fonts();
            @include font-range-56to26();
            font-weight: 200;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 60px;
            text-transform: uppercase;
            @media screen and (max-width: $tab) {
              margin-bottom: 20px; 
            }
          }
          .slide-overlay-link {
            display: block;
            margin-top: 60px;
            font-weight: 500;
            text-transform: uppercase;
            color: #6C1D45;
            @media screen and (max-width: $tab) {
              margin-top: 20px; 
            }
          }
        }
      }
    }
  }


  